<h2>Epoche</h2>




<div class="block">

  <div id="Zeile">
    <div class="tagesItem">
      <div class="monatsFach "> </div>
      <div class="datumFach">
        <div class="date">
        </div>
        <div class="wochenTag">
        </div>
      </div>
      <div class="klassenNummerButton"> 8 </div>
      <div class="klassenNummerButton">
        9 </div>
      <div class="klassenNummerButton"> 10 </div>
      <div class="klassenNummerButton"> 11
      </div>
      <div class="klassenNummerButton"> 12 </div>
    </div>

    <ng-container *ngFor="let tagObj of datumObj index as b">
      <ng-container
        *ngIf="(tagObj.notiz=='schule')||(b===0)||((b>0)&&(tagObj.notiz!='schule')&&(datumObj[b-1].notiz!=tagObj.notiz))&&(tagObj.notiz!='WE')">
        <div class="{{tagObj.wochenTag}} tagesItem">
          <div class="monatsFach ">
            <ng-container
              *ngIf="b ===  0 ||(tagObj.tag.getDate()===1)||((b>10)&&(datumObj[b-10].tag.getDate()===1&&datumObj[b-10].frei==true))">
              {{ferienTerminService.monatZuString(tagObj.tag)}}
            </ng-container>
          </div>
          <div class="datumFach {{tagObj.wochenTag}}">
            <div class="date">
              {{tagObj.tag.getDate()}}
            </div>
            <div class="wochenTag">{{ ferienTerminService.tagZuString( tagObj.tag)}}
            </div>
            <!-- normale Schultage          Ausnahme: Feiertage s.u. oder Sondertage (prüfung etc)-->
            <div *ngIf="tagObj.frei==false&&tagObj.notiz=='schule', else BLA">
              <!-- Montag-Buttons "normal " bei schultagen Mo-->
              <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUTACHT" class="buttonEpoche"
                [autoClose]="true" s [ngbTooltip]="LehrACHT" placement="bottom" triggers="click"
                (click)="cellKlick($event,b,8)">
                <ng-container *ngIf="epoche8[b] as ellem">
                  <ng-container *ngFor="let fach of ellem.unterricht">
                    {{fach? fach.fach:"nob"}}
                  </ng-container>
                </ng-container>
              </button>
              <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
              <ng-template #BUTACHT>
                <!--bei Feiertag den Button verschieben auf Di oder Mi-->
                <ng-container
                  *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                  <button class="buttonEpoche" [ngbTooltip]="LehrACHT" placement="bottom" triggers="click"
                    [autoClose]="true" (click)="cellKlick($event,b,8)">
                    <ng-container *ngIf="epoche8[b] as ellem">
                      <ng-container *ngFor="let fach of ellem.unterricht">
                        {{fach? fach.fach:"nob"}}
                      </ng-container>
                    </ng-container>

                  </button>
                </ng-container>
              </ng-template>
              <ng-template #LehrACHT>
                <ng-container *ngFor="let elementt of tabellensortierung(8); index as stundenI">
                  <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                    (click)="togglezellenClick($event,b,elementt)">
                    <div class="toggle-items">
                      {{elementt?elementt.fach:"kein Fach"}}
                    </div>
                    <div class="toggle-items">
                      {{elementt?elementt.wochenstunde:"no"}}
                    </div>
                    <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                      |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                    </div>
                  </div>
                </ng-container>
              </ng-template>

              <!-- KLASSE 9 START-->
              <!-- Montag-Buttons "normal " bei schultagen Mo-->
              <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUTNEUN" class="buttonEpoche"
                [ngbTooltip]="LehrNEUN" placement="bottom" triggers="click" [autoClose]="true"
                (click)="cellKlick($event,b,9)">
                <ng-container *ngIf="epoche9[b] as ellem">
                  <ng-container *ngFor="let fach of ellem.unterricht">
                    {{fach? fach.fach:"nob"}}
                  </ng-container>
                </ng-container>
              </button>
              <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
              <ng-template #BUTNEUN>
                <!--bei Feiertag den Button verschieben auf Di oder Mi-->
                <ng-container
                  *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                  <button class="buttonEpoche" [ngbTooltip]="LehrNEUN" placement="bottom" triggers="click"
                    [autoClose]="true" (click)="cellKlick($event,b,9)">
                    <ng-container *ngIf="epoche9[b] as ellem">
                      <ng-container *ngFor="let fach of ellem.unterricht">
                        {{fach? fach.fach:"nob"}}
                      </ng-container>
                    </ng-container>
                  </button>
                </ng-container>
              </ng-template>

              <!-- KLlasse 9 Lehrer-dings -->
              <ng-template #LehrNEUN>
                <ng-container *ngFor="let elementt of tabellensortierung(9) index as stundenI">
                  <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                    (click)="togglezellenClick($event,b,elementt)">
                    <div class="toggle-items">
                      {{elementt?elementt.fach:"kein Fach"}}
                    </div>
                    <div class="toggle-items">
                      {{elementt?elementt.wochenstunde:"no"}}
                    </div>
                    <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                      |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                    </div>
                  </div>
                </ng-container>
              </ng-template>
              <!--KLASSE 9 ENDE-->
              <!--Klasse 10 START-->
              <!-- Montag-Buttons "normal " bei schultagen Mo-->
              <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
                [ngbTooltip]="LehrerZEHN" placement="bottom" triggers="click" [autoClose]="true"
                (click)="cellKlick($event,b,10)">
                <ng-container *ngIf="epoche10[b] as ellem">
                  <ng-container *ngFor="let fach of ellem.unterricht">
                    {{fach? fach.fach:"nob"}}
                  </ng-container>
                </ng-container>
              </button>
              <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
              <ng-template #BUT>
                <!--bei Feiertag den Button verschieben auf Di oder Mi-->
                <ng-container
                  *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                  <button class="buttonEpoche" [ngbTooltip]="LehrerZEHN" placement="bottom" triggers="click"
                    [autoClose]="true" (click)="cellKlick($event,b,10)">
                    <ng-container *ngIf="epoche10[b] as ellem">
                      <ng-container *ngFor="let fach of ellem.unterricht">
                        {{fach? fach.fach:"nob"}}
                      </ng-container>
                    </ng-container>
                  </button>
                </ng-container>
              </ng-template>
              <ng-template #LehrerZEHN>
                <ng-container *ngFor="let elementt of tabellensortierung(10) index as stundenI">
                  <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                    (click)="togglezellenClick($event,b,elementt)">
                    <div class="toggle-items">
                      {{elementt?elementt.fach:"kein Fach"}}
                    </div>
                    <div class="toggle-items">
                      {{elementt?elementt.wochenstunde:"no"}}
                    </div>
                    <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                      |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                    </div>
                  </div>
                </ng-container>
              </ng-template>
              <!--KLASSE 10 ENDE-->

              <!--KLASSE 11 START-->
              <!-- Montag-Buttons "normal " bei schultagen Mo-->
              <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
                [ngbTooltip]="LehrerELF" placement="bottom" triggers="click" [autoClose]="true"
                (click)="cellKlick($event,b,11)">
                <ng-container *ngIf="epoche11[b] as ellem">
                  <ng-container *ngFor="let fach of ellem.unterricht">
                    {{fach? fach.fach:"nob"}}
                  </ng-container>
                </ng-container>
              </button>
              <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
              <ng-template #BUT>
                <!--bei Feiertag den Button verschieben auf Di oder Mi-->
                <ng-container
                  *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                  <button class="buttonEpoche" [ngbTooltip]="LehrerELF" placement="bottom" triggers="click"
                    [autoClose]="true" (click)="cellKlick($event,b,11)">
                    <ng-container *ngIf="epoche11[b] as ellem">
                      <ng-container *ngFor="let fach of ellem.unterricht">
                        {{fach? fach.fach:"nob"}}
                      </ng-container>
                    </ng-container>
                  </button>
                </ng-container>
              </ng-template>
              <ng-template #LehrerELF>
                <ng-container *ngFor="let elementt of tabellensortierung(11) index as stundenI">
                  <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                    (click)="togglezellenClick($event,b,elementt)">
                    <div class="toggle-items">
                      {{elementt?elementt.fach:"kein Fach"}}
                    </div>
                    <div class="toggle-items">
                      {{elementt?elementt.wochenstunde:"no"}}
                    </div>
                    <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                      |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                    </div>
                  </div>
                </ng-container>
              </ng-template>


              <!-- EPOCHE KL 12-->
              <!-- Montag-Buttons "normal " bei schultagen Mo-->
              <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
                [ngbTooltip]="LehrerZWOELF" placement="bottom" triggers="click" [autoClose]="true"
                (click)="cellKlick($event,b,12)">
                <ng-container *ngIf="epoche12[b] as ellem">
                  <ng-container *ngFor="let fach of ellem.unterricht">
                    {{fach? fach.fach:"nob"}}
                  </ng-container>
                </ng-container>
              </button>
              <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
              <ng-template #BUT>
                <!--bei Feiertag den Button verschieben auf Di oder Mi-->
                <ng-container
                  *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                  <button class="buttonEpoche" [ngbTooltip]="LehrerZWOELF" placement="bottom" triggers="click"
                    [autoClose]="true" (click)="cellKlick($event,b,12)">
                    <ng-container *ngIf="epoche12[b] as ellem">
                      <ng-container *ngFor="let fach of ellem.unterricht">
                        {{fach? fach.fach:"nob"}}
                      </ng-container>
                    </ng-container>
                  </button>
                </ng-container>
              </ng-template>
              <!-- EPOCHE ENDE -->
              <!-- SCHIENE START==??-->

              <ng-template #LehrerZWOELF>
                <ng-container *ngFor="let elementt of tabellensortierung(12) index as stundenI">
                  <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                    (click)="togglezellenClick($event,b,elementt)">
                    <div class="toggle-items">
                      {{elementt?elementt.fach:"kein Fach"}}
                    </div>
                    <div class="toggle-items">
                      {{elementt?elementt.wochenstunde:"no"}}
                    </div>
                    <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                      |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                    </div>
                  </div>
                </ng-container>
              </ng-template>



              <!--  freie "Schultage", Feiertage-->
            

            </div>
            <ng-template #BLA>
              <div class="{{tagObj.wochenTag}} tagesItem {{tagObj.notiz}} rotierContainer">
                {{tagObj.notiz}}
              </div>
            </ng-template>

          </div>

        </div>

      </ng-container>


    </ng-container>
  </div>
