<h2>Epoche</h2>




<div class="block">
  <h3> 8. Klasse </h3>
  <div id="kl8">
    <ng-container *ngFor="let tagObj of datumObj index as b">
      <ng-container
        *ngIf="(tagObj.notiz=='schule')||(b===0)||((b>0)&&(tagObj.notiz!='schule')&&(datumObj[b-1].notiz!=tagObj.notiz))&&(tagObj.notiz!='WE')">
        <div class="{{tagObj.wochenTag}} tagesItem">
          <div class="monatsFach ">
            <ng-container
              *ngIf="b ===  0 || tagObj.tag.getMonth()!=datumObj[b-1].tag.getMonth()||(tagObj.tag.getDate()==10&&tagObj.tag.getMonth()==0)">
              {{ferienTerminService.monatZuString(tagObj.tag)}}
            </ng-container>
          </div>
          <!-- normale Schultage          Ausnahme: Feiertage s.u. oder Sondertage (prüfung etc)-->
          <div *ngIf="tagObj.frei==false&&tagObj.notiz=='schule', else BLA" class="datumFach {{tagObj.wochenTag}}">
            <div class="date">
              {{tagObj.tag.getDate()}}
            </div>
            <div class="wochenTag">{{ ferienTerminService.tagZuString( tagObj.tag)}}
            </div>
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="Lehrer" placement="bottom" triggers="click" [autoClose]="true"
              (click)="cellKlick($event,b,8)">
              <ng-container *ngIf="epoche8[b] as ellem">
                <ng-container *ngFor="let fach of ellem.unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="Lehrer" placement="bottom" triggers="click"
                  [autoClose]="true" (click)="cellKlick($event,b,8)">
                  <ng-container *ngIf="epoche8[b] as ellem">
                    <ng-container *ngFor="let fach of ellem.unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
           
                </button>
              </ng-container>
            </ng-template>
          </div>
        </div>
        <!--  freie "Schultage", Feiertage-->
        <ng-template #BLA>
          <div class="{{tagObj.wochenTag}} tagesItem {{tagObj.notiz}} rotierContainer">
            {{tagObj.notiz}}
          </div>
        </ng-template>
      </ng-container>

      <ng-template #Lehrer>
        <ng-container *ngFor="let elementt of tabellensortierung(8) index as stundenI">
          <div class="toggle-item-Container" *ngIf="elementt!=undefined" (click)="togglezellenClick($event,b,elementt)">
            <div class="toggle-items">
              {{elementt?elementt.fach:"kein Fach"}}
            </div>
            <div class="toggle-items">
              {{elementt?elementt.wochenstunde:"no"}}
            </div>
            <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
              |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
            </div>
          </div>
        </ng-container>
      </ng-template>



    </ng-container>
  </div>

  <h3> 9. Klasse </h3>
  <div id="kl9">
    <ng-container *ngFor="let tagObj of datumObj index as b">
      <ng-container
        *ngIf="(tagObj.notiz=='schule')||(b===0)||((b>0)&&(tagObj.notiz!='schule')&&(datumObj[b-1].notiz!=tagObj.notiz))&&(tagObj.notiz!='WE')">
        <div class="{{tagObj.wochenTag}} tagesItem">
          <div class="monatsFach ">
            <ng-container
              *ngIf="b ===  0 || tagObj.tag.getMonth()!=datumObj[b-1].tag.getMonth()||(tagObj.tag.getDate()==10&&tagObj.tag.getMonth()==0)">
              {{ferienTerminService.monatZuString(tagObj.tag)}}
            </ng-container>
          </div>
          <!-- normale Schultage          Ausnahme: Feiertage s.u. oder Sondertage (prüfung etc)-->
          <div *ngIf="tagObj.frei==false&&tagObj.notiz=='schule', else BLA" class="datumFach {{tagObj.wochenTag}}">
            <div class="date">
              {{tagObj.tag.getDate()}}
            </div>
            <div class="wochenTag">{{ ferienTerminService.tagZuString( tagObj.tag)}}
            </div>
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="Lehrer" placement="bottom" triggers="click" [autoClose]="true"
              (click)="cellKlick($event,b,9)">
              <ng-container *ngIf="epoche9[b] as ellem">
                <ng-container *ngFor="let fach of ellem.unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="Lehrer" placement="bottom" triggers="click"
                  [autoClose]="true" (click)="cellKlick($event,b,9)">
                  <ng-container *ngIf="epoche9[b] as ellem">
                    <ng-container *ngFor="let fach of ellem.unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>
          </div>
        </div>
       <!--  freie "Schultage", Feiertage-->
       <ng-template #BLA>
        <div class="{{tagObj.wochenTag}} tagesItem {{tagObj.notiz}} rotierContainer">
          {{tagObj.notiz}}
        </div>
      </ng-template>
      </ng-container>

      <ng-template #Lehrer>
        <ng-container *ngFor="let elementt of tabellensortierung(9) index as stundenI">
          <div class="toggle-item-Container" *ngIf="elementt!=undefined" (click)="togglezellenClick($event,b,elementt)">
            <div class="toggle-items">
              {{elementt?elementt.fach:"kein Fach"}}
            </div>
            <div class="toggle-items">
              {{elementt?elementt.wochenstunde:"no"}}
            </div>
            <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
              |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
            </div>
          </div>
        </ng-container>
      </ng-template>
    </ng-container>
  </div>

  <h3> 10. Klasse </h3>
  <div id="kl10">
    <ng-container *ngFor="let tagObj of datumObj index as b">
      <ng-container
        *ngIf="(tagObj.notiz=='schule')||(b===0)||((b>0)&&(tagObj.notiz!='schule')&&(datumObj[b-1].notiz!=tagObj.notiz))&&(tagObj.notiz!='WE')">
        <div class="{{tagObj.wochenTag}} tagesItem">
          <div class="monatsFach ">
            <ng-container
              *ngIf="b ===  0 || tagObj.tag.getMonth()!=datumObj[b-1].tag.getMonth()||(tagObj.tag.getDate()==10&&tagObj.tag.getMonth()==0)">
              {{ferienTerminService.monatZuString(tagObj.tag)}}
            </ng-container>
          </div>
          <!-- normale Schultage          Ausnahme: Feiertage s.u. oder Sondertage (prüfung etc)-->
          <div *ngIf="tagObj.frei==false&&tagObj.notiz=='schule', else BLA" class="datumFach {{tagObj.wochenTag}}">
            <div class="date">
              {{tagObj.tag.getDate()}}
            </div>
            <div class="wochenTag">{{ ferienTerminService.tagZuString( tagObj.tag)}}
            </div>
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="Lehrer" placement="bottom" triggers="click" [autoClose]="true"
              (click)="cellKlick($event,b,10)">
              <ng-container *ngIf="epoche10[b] as ellem">
                <ng-container *ngFor="let fach of ellem.unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="Lehrer" placement="bottom" triggers="click"
                  [autoClose]="true" (click)="cellKlick($event,b,10)">
                  <ng-container *ngIf="epoche10[b] as ellem">
                    <ng-container *ngFor="let fach of ellem.unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>
          </div>
        </div>
      <!--  freie "Schultage", Feiertage-->
      <ng-template #BLA>
        <div class="{{tagObj.wochenTag}} tagesItem {{tagObj.notiz}} rotierContainer">
          {{tagObj.notiz}}
        </div>
      </ng-template>
      </ng-container>

      <ng-template #Lehrer>
        <ng-container *ngFor="let elementt of tabellensortierung(10) index as stundenI">
          <div class="toggle-item-Container" *ngIf="elementt!=undefined" (click)="togglezellenClick($event,b,elementt)">
            <div class="toggle-items">
              {{elementt?elementt.fach:"kein Fach"}}
            </div>
            <div class="toggle-items">
              {{elementt?elementt.wochenstunde:"no"}}
            </div>
            <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
              |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
            </div>
          </div>
        </ng-container>
      </ng-template>



    </ng-container>
  </div>

  <h3> 11. Klasse </h3>
  <div id="kl11">
    <ng-container *ngFor="let tagObj of datumObj index as b">
      <ng-container
        *ngIf="(tagObj.notiz=='schule')||(b===0)||((b>0)&&(tagObj.notiz!='schule')&&(datumObj[b-1].notiz!=tagObj.notiz))&&(tagObj.notiz!='WE')">
        <div class="{{tagObj.wochenTag}} tagesItem">
          <div class="monatsFach ">
            <ng-container
              *ngIf="b ===  0 || tagObj.tag.getMonth()!=datumObj[b-1].tag.getMonth()||(tagObj.tag.getDate()==10&&tagObj.tag.getMonth()==0)">
              {{ferienTerminService.monatZuString(tagObj.tag)}}
            </ng-container>
          </div>
          <!-- normale Schultage          Ausnahme: Feiertage s.u. oder Sondertage (prüfung etc)-->
          <div *ngIf="tagObj.frei==false&&tagObj.notiz=='schule', else BLA" class="datumFach {{tagObj.wochenTag}}">
            <div class="date">
              {{tagObj.tag.getDate()}}
            </div>
            <div class="wochenTag">{{ ferienTerminService.tagZuString( tagObj.tag)}}
            </div>
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="Lehrer" placement="bottom" triggers="click" [autoClose]="true"
              (click)="cellKlick($event,b,11)">
              <ng-container *ngIf="epoche11[b] as ellem">
                <ng-container *ngFor="let fach of ellem.unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="Lehrer" placement="bottom" triggers="click"
                  [autoClose]="true" (click)="cellKlick($event,b,11)">
                  <ng-container *ngIf="epoche11[b] as ellem">
                    <ng-container *ngFor="let fach of ellem.unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>
          </div>
          <!--  freie "Schultage", Feiertage-->
          <ng-template #BLA>
            <div class="{{tagObj.wochenTag}} tagesItem {{tagObj.notiz}} rotierContainer">
              {{tagObj.notiz}}
            </div>
          </ng-template>
        </div>



      </ng-container>

      <ng-template #Lehrer>
        <ng-container *ngFor="let elementt of tabellensortierung(11) index as stundenI">
          <div class="toggle-item-Container" *ngIf="elementt!=undefined" (click)="togglezellenClick($event,b,elementt)">
            <div class="toggle-items">
              {{elementt?elementt.fach:"kein Fach"}}
            </div>
            <div class="toggle-items">
              {{elementt?elementt.wochenstunde:"no"}}
            </div>
            <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
              |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
            </div>
          </div>
        </ng-container>
      </ng-template>



    </ng-container>
  </div>

  <h3> 12. Klasse </h3>
  <div id="kl12">
    <ng-container *ngFor="let tagObj of datumObj index as b">
      <ng-container
        *ngIf="(tagObj.notiz=='schule')||(b===0)||((b>0)&&(tagObj.notiz!='schule')&&(datumObj[b-1].notiz!=tagObj.notiz))&&(tagObj.notiz!='WE')">
        <div class="{{tagObj.wochenTag}} tagesItem ">
          <div class="monatsFach ">
            <ng-container
              *ngIf="b ===  0 || tagObj.tag.getMonth()!=datumObj[b-1].tag.getMonth()||(tagObj.tag.getDate()==10&&tagObj.tag.getMonth()==0)">
              {{ferienTerminService.monatZuString(tagObj.tag)}}
            </ng-container>
          </div>
          <!-- normale Schultage          Ausnahme: Feiertage s.u. oder Sondertage (prüfung etc)-->
          <div *ngIf="tagObj.frei==false&&tagObj.notiz=='schule', else BLA" class="datumFach {{tagObj.wochenTag}}">
            <div class="date">
              {{tagObj.tag.getDate()}}
            </div>
            <div class="wochenTag">{{ ferienTerminService.tagZuString( tagObj.tag)}}
            </div>
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="Lehrer" placement="bottom" triggers="click" [autoClose]="true"
              (click)="cellKlick($event,b,12)">
              <ng-container *ngIf="epoche12[b] as ellem">
                <ng-container *ngFor="let fach of ellem.unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="Lehrer" placement="bottom" triggers="click"
                  [autoClose]="true" (click)="cellKlick($event,b,12)">
                  <ng-container *ngIf="epoche12[b] as ellem">
                    <ng-container *ngFor="let fach of ellem.unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>
          </div>
          <!--  freie "Schultage", Feiertage-->
          <ng-template #BLA>
            <div class="{{tagObj.wochenTag}} tagesItem {{tagObj.notiz}} rotierContainer">
              {{tagObj.notiz}}
            </div>
          </ng-template>
        </div>



      </ng-container>

      <ng-template #Lehrer>
        <ng-container *ngFor="let elementt of tabellensortierung(12) index as stundenI">
          <div class="toggle-item-Container" *ngIf="elementt!=undefined" (click)="togglezellenClick($event,b,elementt)">
            <div class="toggle-items">
              {{elementt?elementt.fach:"kein Fach"}}
            </div>
            <div class="toggle-items">
              {{elementt?elementt.wochenstunde:"no"}}
            </div>
            <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
              |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
            </div>
          </div>
        </ng-container>
      </ng-template>



    </ng-container>
  </div>



</div>
