$color-text: black;
$color-background:white;
//$hover:rgb(98, 107, 146);


$schriftfarbe:black;
$hintergrund:white;
//$linienDark:rgb(63, 63, 63);
$hover:rgb(98, 107, 146);
$hintergrund2:grey;

//aus zuweisung kopiert, noch nicht benutzt:
$background:white;
$background2:white;
$color:black;
$back-light:grey;


$color-background:white;
$darkdarkText:black;
$darkText:black;



#StundenPlan {
  background-color: $color-background;
  color: $color-text;

  color: $schriftfarbe;

}


th {
  font-weight: normal;
}

.th {
  text-align: center;
}


#StundenPlan>#gesamtbox {
  //table-box drum.
  min-width: 50%;


  color: $schriftfarbe;



}

table {
  margin-left: auto;
  margin-right: auto;
}

.zelle {
  text-align: center;
  padding-left: 5pt;
  padding-right: 5pt;
}


.item {
  height: 100%;
  min-width: 45pt;
}

.fach {
  height: 100%;
}

.leer,
.fach {
  min-width: 35pt;
}

.huB,
.schB,
.rhyB,
.normalB,
.empty,
.fach,
.HU,
.Schiene,
.StartUp {
  border-right: 1px $hintergrund2 solid;
  border-left: 1pt $hintergrund2 solid;
  height: 100%;
  border-top: 1pt solid $hintergrund;
}

.fach,
.normalB {


  color: rgb(143, 162, 195);


}




.klasse {
  font-size: 8pt;
}



.HU,
.huB {
  border: 1px solid rgb(153, 145, 59);

  background-color: rgb(153, 145, 59);
  color: rgb(223, 240, 128);


}

.Schiene,
.schB {
  border: 1px solid rgb(117, 150, 82);

  color: rgb(171, 240, 171);

}

.StartUp,
.rhyB {
  border: 1px solid rgb(167, 74, 65);

  color: rgb(216, 175, 165);





}

.empty,
.leer {
  border: 1px solid $hintergrund;
  min-height: 20pt;

  opacity: 0.6;
  //background-color:$hintergrund2;
}





//AB HIER SCHIENE




//





//benutzen:aus esr

tr {
  border-top: 1px solid $background;
}

$rhytext:rgb(216, 175, 165);
$rhybackground: rgb(167, 74, 65);

$epoText:rgb(223, 240, 128);
$epoBackground: rgb(153, 145, 59);

$schieneText:rgb(171, 240, 171);
$schieneBackground: rgb(117, 150, 82);

tr:nth-child(n) {
  background-color: $background2;

  td {
    border-right: 1pt solid $background
  }
}

.kuerzel {
  color: lightgrey;
}

//.normalB{background-color:rgb(102, 99, 104);
//color:rgb(143, 162, 195);}
//.empty{min-height:20pt;
//background-color:$hintergrund2;}

//$hover:rgb(98, 107, 146);

.projekt {
  color: $color;
}






#EpochenPlan {
  td {
    padding: 0pt;
    text-align: center;
  }

  tr,
  td {
    height: 20pt;
    white-space: nowrap;
  }

  table {
    button {
      padding: 0pt;
      border: none;
      width: 100%;
      height: 100%;
      background-color: inherit;
      color: inherit;
    }
  }
}






#EpochenPlan {
  color: rgb(182, 182, 150);
  background-color: rgb(59, 61, 56);
}

.tagesContainer {
  width: 35pt;
  pointer-events: none;
}

.planRahmen {
  display: flex;
  flex-wrap: wrap;
}

.wochenRahmen {
  display: flex;
}

.Monat,
.Datum {
  height: 15pt;
  text-align: center;
}

.Monat {
  white-space: nowrap;
}

.Datum {
  border-top: 1pt solid rgb(182, 182, 150);
  font-size: 8pt;
}


.ferienNotiz {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 15pt;
  padding-top: 2pt;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  border-radius: 5pt;
  background-color: rgb(44, 75, 100);
  color: rgb(182, 182, 150);
}

.EM,
.Abi {
  background-color: rgb(151, 111, 36);
}

.error {
  color: rgb(219, 105, 105);
}

.ok {
  color: rgb(137, 143, 137);
}

.blueback {
  color: rgb(149, 149, 202);
  font-weight: bold;
  font-size: 12pt;
}


#EpochenPlan .zeile {
  display: flex;
}





.epoB {
  //background-color: $epoBackground;
  color: $epoBackground;
}

.schB {
  background-color: $schieneBackground;
  color: $schieneText;
}

.rhyB {
  background-color: $rhybackground;
  color: $rhytext;
}


.rhy,
.epo,
.sch {
  width: 98%;
  text-align: center;
}

.rhy {
  color: $rhybackground;
  border-top: 1pt solid $rhybackground;
}

.epo {
  //  background-color:  $epoBackground;
  border-top: 1pt solid $epoBackground;
  color: $epoBackground;
}

.sch {
  //  background-color:  $schieneBackground;
  border-top: 1pt solid $schieneBackground;
  color: $schieneBackground;
}







#printContainer {

.lehrerBehaelter{
  page-break-inside: avoid;
}
  .plaeneContainer {
  
    display: flex;
    flex-wrap:wrap;
    .EpochenContainer,.stundenPlanTable {
      width: 50%;
    }
  }

  h1,
  h2 {
    color: black;
  }

  tr:nth-child(n) {
    background-color: white;

    td {
      border-right: none;
    }
  }


  .stundenPlanTable {
    tr {
      background-color: none;
    }

    color: black;
    background-color: white;



    .fach {
      background-image: none;
      border: 1px black solid;
      color: black;
    }

    .HU,
    .huB {
      background-color: rgb(153, 145, 59);

    }

    .Schiene,
    .schB {
      background-color: rgb(117, 150, 82);
    }

    .StartUp,
    .rhyB {
      background-color: rgb(167, 74, 65);
    }

    .empty,
    .leer {
      border: none;
      background-image: none;
      background-color: pink;
      min-height: 10pt;
      opacity: 0;
      //background-color:$hintergrund2;
    }






    th,
    tr {
      border: none;
    }


  }

  .epochenPlanTable {
 line-height:auto;
    color: black;
    background-color: white;

    td {
      padding: 0pt;
      text-align: center;
    }

    tr,
    td {
  
      height: auto;
      white-space: nowrap;
    }

    tr{border:none;}
    
    

    .datuM,th {
      text-align:center;
      padding:0pt;
      height:8pt;
      font-size: 8pt;
      border-bottom:1px black solid;
     
    }

    button {
      padding: 0pt;
      border: none;
      width: 100%;
      height: 100%;
      background-color: inherit;
      color: inherit;
    }



    .epoB {
      //background-color: $epoBackground;
      color: $epoBackground;
    }

    .schB {
      background-color: $schieneBackground;
      color: $schieneText;
    }

    .rhyB {
      background-color: $rhybackground;
      color: $rhytext;
    }


    .rhy,
    .epo,
    .sch {
      width: 98%;
      text-align: center;
    }

    .rhy {
      background-color: $rhybackground;
      color: black;
      //  border-top: 1pt solid $rhybackground;
    }

    .epo {
      background-color: $epoBackground;
      color: black;
      // border-top: 1pt solid $epoBackground;
      // color: $epoBackground;
    }

    .sch {
      background-color: $schieneBackground;
      //border-top: 1pt solid $schieneBackground;
      color: black;
    }

    .kuerzel {
      color: black;
    }


  }

}








@media print {





  #EpochenPlan {
    color: black;
    background-color: white;
  }

  .blueback {
    color: black;
    font-size: 10pt;
    font-weight: normal;
  }





  button {
    //min-height:10pt;
    height: 10pt;
  }





  table {

    width: 90%;

    page-break-inside: none;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    line-height: 14pt;

    th:first-child {
      //  border-right:1px grey solid;
    }

    tr {
      //  border-bottom: 1px grey dotted;

      th {
        height: 10pt;
        text-align: center;
        color: black;
        font-weight: bold;
      }

      td {
        height: 10pt;


        button {
          height: 100%;
          width: 100%;

          div {}
        }
      }
    }
  }






  //media stundenplan?



  #StundenPlan {
    background-image: none;
    background-color: white;
    color: black;
  }

  .HU,
  .huB {
    border: 1px solid rgb(153, 145, 59);

    background-color: rgb(153, 145, 59);
    color: black;

    background-image:
      none;
  }

  .Schiene,
  .schB {
    border: 1px solid rgb(117, 150, 82);
    background-color: rgb(117, 150, 82);
    color: black;
    background-image: none;
  }

  .StartUp,
  .rhyB {
    background-color: rgb(167, 74, 65);
    border: 1px solid rgb(167, 74, 65);

    color: black;

    background-image: none;


  }

  .empty,
  .leer {
    border: 1px solid $hintergrund;
    min-height: 20pt;
    background-image: none;

    opacity: 0.6;
    //background-color:$hintergrund2;
  }

}
