<button (click)="show()" *ngIf="lehrerServ.gewaehlterPlan==='einzelplaene'" class="noprint drucken">
  Einzelpläne drucken
</button>


<ng-container *ngFor="let lehre of alleLehrer$|async index as zZ">
  <ng-container *ngIf="printAktiv||(gewaehlterLehrer&&gewaehlterLehrer.kuerzel==lehre.kuerzel)">
    <div class="lehrerBehaelter">
      <h2>Lehrer: {{lehre.kuerzel }}</h2>
      <div class="{{formatGesamtplan('plaeneContainer')}}">
        <ng-container *ngIf="lehre.planB as planB">
          <ng-container *ngIf="lehrerServ.gewaehlterPlan!=='ESR'">
            <table class="{{formatGesamtplan('stundenPlanTable')}}" *ngIf="stundenPlanZeileLeer(planB[0])||stundenPlanZeileLeer(planB[1])
          ||stundenPlanZeileLeer(planB[2])||stundenPlanZeileLeer(planB[3])||stundenPlanZeileLeer(planB[4])
        ">
              <tr class="zeile th">
                <th></th>
                <th> Mo </th>
                <th>Di</th>
                <th> Mi </th>
                <th> Do</th>
                <th> Fr </th>
              </tr>
              <tr class="zeile" *ngFor="let stunde of planB; index as std">
                <th class="th links"> {{std+1}}</th>
                <ng-container *ngFor="let item of stunde; index as woTa">
                  <ng-container *ngIf="item?.fach else ITEM">
                    <td class="fach {{item?.fach}}">
                      <div>
                        {{item?.fach}}
                        <span class="klasse" *ngFor="let x of item?.klasse">
                          {{x}}
                        </span>
                      </div>
                    </td>
                  </ng-container>
                  <ng-template #ITEM>
                    <td class="leer">
                    </td>
                  </ng-template>
                </ng-container>
              </tr>
            </table>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="lehrerServ.gewaehlterPlan!=='gesamtplan'">
          <ng-container *ngIf="lehre.kuerzel!==null">
            <div class="{{formatGesamtplan('EpochenContainer')}}">
              <ng-container *ngIf="tagesPlaene$|async as rhyPlan">

                <ng-container *ngFor="let abschnitt of rhyPlan[zZ].plan">
                  <ng-container *ngIf="true">
                    <table class="absch rhy2 epochenPlanTable"
                      *ngIf="zeileMitInhalt(abschnitt[1])||zeileMitInhalt(abschnitt[2])||zeileMitInhalt(abschnitt[3])">
                      <ng-container *ngFor="let reihe of abschnitt, index as r">
                        <tr *ngIf="zeileMitInhalt(reihe)">
                          <ng-container *ngIf="r==0; else KLASSE">
                            <ng-container *ngFor="let cell of reihe, index as c">
                              <th class="datuM" colSpan="1" *ngFor="let u of cell">
                                {{u.ueberschrift|date: 'd.M'}}
                              </th>
                            </ng-container>
                          </ng-container>
                          <ng-template #KLASSE>
                            <ng-container *ngFor="let cell of reihe, index as c">
                              <ng-container *ngIf="
                          (cell&&cell[0]&&cell[0].start!==null&&abschnitt[0][c][0].ueberschrift.getTime()===cell[0].start.getTime())
                          ||
                          (cell?.length===0)
                          ||
                          c==0
                        ">

                                <td colSpan="{{abschnitt[r][c][0]?abschnitt[r][c][0].spanNr:1}}">
                                  <button>
                                    <!-- sonder-Event (ganztaegig?)-->
                                    <ng-container *ngIf="cell[0]&&cell[0].ganztaegig.length>0; else INHALT">
                                      <div *ngFor="let ce of cell" class="projekt">

                                        {{ce.ganztaegig}}
                                      </div>
                                    </ng-container>
                                    <!-- nur anzeigen, wenn kein Sonder-Event ist: -->
                                    <ng-template #INHALT>
                                      <div *ngFor="let u of cell" class="{{hintergrund(r)}}">
                                        {{u.fach}} <span class="klasse">{{u.klasse}}</span>
                                      </div>
                                    </ng-template>
                                  </button>

                                </td>
                              </ng-container>
                            </ng-container>
                          </ng-template>
                        </tr>
                      </ng-container>
                    </table>
                  </ng-container>
                </ng-container>

              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>




  </ng-container>



</ng-container>
