$color-text: black;

//$hover:rgb(98, 107, 146);


$hintergrund:white;
$hintergrund2:rgb(233, 232, 232);
//$linienDark:rgb(63, 63, 63);
$hover:rgb(98, 107, 146);


//aus zuweisung kopiert, noch nicht benutzt:


$color:black;
$back-light:rgb(255, 255, 255);



$darkdarkText:black;
$darkText:black;



#StundenPlan {
  background-color: $hintergrund;
  color: $color-text;

  color: $color-text;

}

th {
  font-weight: normal;
}

.th {
  text-align: center;
}

#StundenPlan>#gesamtbox {
  //table-box drum.
  min-width: 50%;
  color: $color-text;

}

table {
  margin-left: auto;
  margin-right: auto;
}

.zelle {
  text-align: center;
  padding-left: 5pt;
  padding-right: 5pt;
}


.item {
  height: 100%;
  min-width: 45pt;
}

.fach {
  height: 100%;
}

.leer,
.fach {
  min-width: 35pt;
}

.huB,
.schB,
.rhyB,
.normalB,
.empty,
.fach,
.HU,
.Schiene,
.StartUp {
  height: 100%;
}

.fach,
.normalB {
  background-color: rgb(143, 162, 195);

}


.klasse {
  font-size: 8pt;
}


$rhytext:black;
$rhybackground: rgb(255, 144, 133);

$epoText:rgb(0, 0, 0);
$epoBackground: rgb(207, 198, 98);

$schieneText:rgb(0, 0, 0);
$schieneBackground: rgb(176, 219, 130);

.HU,
.huB {
  border: 1px solid $hintergrund;
  background-color: $epoBackground;
  color: $epoText;
}

.Schiene,
.schB {
  border: 1px solid $hintergrund;
  background-color: $schieneBackground;
  color: $schieneText;
}

.StartUp,
.rhyB {
  border: 1px solid $hintergrund;
  color: $rhytext;
  background-color: $rhybackground;

}

.empty,
.leer {
  border: 1px solid $hintergrund2;
  min-height: 20pt;

  opacity: 0.6;
  //background-color:$hintergrund2;
}



//AB HIER SCHIENE
//benutzen:aus esr

tr {
 
}


tr:nth-child(n) {
  //background-color: $hintergrund2;

  td {
    border: 1px solid $hintergrund2;
  }
}

.projekt {
  color: $color;
}


#EpochenPlan,.EpochenContainer {
  td {
    padding: 0pt;
    text-align: center;
  }

  tr,
  td {
    height: 20pt;
    white-space: nowrap;
  }

  table {
    button {
      padding: 0pt;
      border: none;
      width: 100%;
      height: 100%;
      color: inherit;
      background-coloR:white;
    }
  }
}

.tagesContainer {
  width: 35pt;
  pointer-events: none;
}

.planRahmen {
  display: flex;
  flex-wrap: wrap;
}

.wochenRahmen {
  display: flex;
}

.Monat,
.Datum {
  height: 15pt;
  text-align: center;
}

.Monat {
  white-space: nowrap;
}

.Datum,.datuM {
  font-size: 8pt;
}

.ferienNotiz {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 15pt;
  padding-top: 2pt;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  border-radius: 5pt;
  
}

.blueback {
  color: rgb(149, 149, 202);
  font-weight: bold;
}

#EpochenPlan .zeile {
  display: flex;
}

.epoB,
.epo {
  background-color: $epoBackground;
  color: $epoText;
}

.schB,
.sch {
  background-color: $schieneBackground;
  color: $schieneText;
}

.rhyB,
.rhy {
  background-color: $rhybackground;
  color: $rhytext;
}

.rhy,
.epo,
.sch {
  text-align: center;
}

#printContainer {

  .lehrerBehaelter {
    page-break-inside: avoid;
  }

  .plaeneContainer {
    display: flex;
    flex-wrap: wrap;
    .EpochenContainer,
    .stundenPlanTable {
      width: 50%;
    }
  }
  h1,
  h2 {
    color: black;
  }
  tr:nth-child(n) {
    background-color: white;

    td {
      border-right: none;
    }
  }
}




@media print {

  #EpochenPlan {
    color: black;
    background-color: white;
  }

  .blueback {
    color: black;
    font-size: 10pt;
    font-weight: normal;
  }

  button {
    //min-height:10pt;
    height: 10pt;
  }

  table {
    width: 90%;
    page-break-inside: none;
    border-collapse: collapse;
    line-height: 14pt;

    th:first-child {
      //  border-right:1px grey solid;
    }

    tr {
      //  border-bottom: 1px grey dotted;

      th {
        height: 10pt;
        text-align: center;
        color: black;
        font-weight: bold;
      }

      td {
        height: 10pt;


        button {
          height: 100%;
          width: 100%;

          div {}
        }
      }
    }
  }

  //media stundenplan?



}
