
$hintergrund:rgb(255, 255, 255);
$back-light:rgb(255, 255, 255);

th{text-align: center;}

.lehrerBehaelter{
  page-break-inside: avoid;
  min-width:50%;
  h2{}
  .plaeneContainer{ 
    display: flex;
    flex-wrap: wrap;
    .stundenPlanTable{ //Stundenplan
      line-height:1;
      width:50%;
      tr{
        th{
        }
        td{
          border: 1px black solid;
          min-width:5pt;
          button{
          }
        }
      }
    }
    .EpochenContainer{//Epochenplan
      width:50%;
       table{ //jede zeile ist eigene table

        margin-top:5pt;
        margin-left:auto;
        margin-right:auto; 
        tr{
          th{ //Datum
            font-size:8pt;
            line-height:8pt;
          }
          td{
            line-height:1;
            padding:0pt;
            border:1px black solid;
            white-space: nowrap;
            min-width: 5pt;
            button{
              pointer-events: none;
              padding: 0pt;
              border: none;
              width: 100%;
              height: 100%;
              color: inherit;
              background-coloR: white;
              >div{
              }
            }
          }
        }
      }
    }
  }
  //Wenn gesamtplan ausgewählt ist (oder ESR):
  .gesamtPlanContainer{
    display:block;
    width:100%;

    //Gesamtplanausgewählt:
    .gesamtPlanStundenPlan{ //alt zu stundenPlanTable
      display:auto;
      margin-left: auto;
      margin-right:auto;
      line-height:1.2;
      font-size:12pt;
      tr{
        th{
        }
        td{
          border: 1px black solid;
          min-width:5pt;
          button{
          }
        }
      }
    
    }
    //ESR ausgewählt: 
    .gesamtPlanEpoche{
      width:auto;
      table{ //jede zeile ist eigene table

        margin-top:5pt;
        margin-left:auto;
        margin-right:auto; 
        tr{
          th{ //Datum
            font-size:10pt;
            line-height:1.2;
          }
          td{
            font-size:12pt;
            line-height:1.2;
            padding:0pt;
            border:1px black solid;
            white-space: nowrap;
            min-width: 5pt;
            button{
              pointer-events: none;
              padding: 0pt;
              border: none;
              width: 100%;
              height: 100%;
              color: inherit;
              background-coloR: white;
              >div{
              }
            }
          }
        }
      }

    }
    //Ende GEsamtplan ausgewählt oder ESR (Epoche
  }
  
}

.drucken{
  margin-top:5pt;
  border-radius:7pt;
  background-color:mediumaquamarine;
}

.klasse {
  font-size:6pt;
}

.fach {
  text-align: center;
  background-color:rgb(168, 168, 236);
}

.HU,
.huB,
.epo,
.epoB {
  background-color: rgb(207, 198, 98);
}

.Schiene,
.schB,
.sch {
  background-color: rgb(176, 219, 130);
}

.StartUp,
.rhyB,
.rhy {
  background-color: rgb(255, 144, 133);
}

.empty,
.leer {
  min-height: 10pt;
  opacity: 0.6;
  //background-color:$hintergrund2;
}


//AB HIER SCHIENE

.blueback {
  color: rgb(149, 149, 202);
  font-weight: bold;
}
.centr{text-align: center;}

@media print {
  #EpochenPlan {
    color: black;
    background-color: white;
  }

  .blueback {
    color: black;
    font-size: 10pt;
    font-weight: normal;
  }

  button {
    //min-height:10pt;
    height: 10pt;
  }

  table {
    width: 90%;
    page-break-inside: none;
    border-collapse: collapse;
    line-height: 14pt;

    th:first-child {
      //  border-right:1px grey solid;
    }

    tr {
      //  border-bottom: 1px grey dotted;

      th {
        height: 10pt;
        text-align: center;
        color: black;
        font-weight: bold;
      }

      td {
        height: 10pt;
        button {
          height: 100%;
          width: 100%;
          div {}
        }
      }
    }
  }



  //media stundenplan?
}
