


<div>
    
    <p>Guten Tag,
        <br> was möchtest Du tun?</p>


        <button (click)="redirect('einzelPlaene')">
            Ich möchte Pläne anschauen oder drucken
        </button> 
        <br>




<button (click)="redirect('lehrerListe')">
    Ich möchte Lehrer/ Fächer  bearbeiten (Büro/Schulführung)
</button>
<br>

<button (click)="redirect('klasseFach')">
    Ich möchte Zuordnungen Lehrer->Unterricht  bearbeiten (Büro/Schulführung)
</button>
<br>

<button (click)="redirect('gesamtplan')">
    Ich möchte Gesamtpläne bearbeiten (Stundenplaner)
</button>
<br> 
<button (click)="redirect('ESR')">
    Ich möchte die Epoche, Schiene oder den rhythmischen Teil bearbeiten (Stundenplaner)
</button>
 
<p>noch in Planung:
</p>

<button (click)="redirect('vertretung')">
    Ich bin Vertretungsplaner (alpha)
</button> 
<br>
<button >
    Ich bin Raumplaner (-)
</button> 
<br>

</div>


