*{font-size:16pt;
line-height: 20pt;}

div{
    text-align:center;}

    button{
        padding:5pt;
        border: 1pt black solid;
        border-radius:5pt;
        margin:5pt;
        background-color:rgb(232, 222, 252);
    }

    p{
        margin-top:5%;
}