


<div>
    
    <p>Guten Tag,
        <br> was möchtest Du tun?</p>


        <button (click)="redirect('einzelPlaene-Planer')">
            Ich möchte Pläne anschauen oder drucken
        </button> 
        <br>




<button (click)="redirect('lehrerListe-Planer')">
    Ich möchte Lehrer/ Fächer  bearbeiten (Büro/Schulführung)
</button>
<br>

<button (click)="redirect('klasseFach-Planer')">
    Ich möchte Zuordnungen Lehrer->Unterricht  bearbeiten (Büro/Schulführung)
</button>
<br>

<button (click)="redirect('gesamtplan-Planer')">
    Ich möchte Gesamtpläne bearbeiten (Stundenplaner)
</button>
<br> 
<button (click)="redirect('ESR-Planer')">
    Ich möchte die Epoche, Schiene oder den rhythmischen Teil bearbeiten (Stundenplaner)
</button>
 
<p>noch in Planung:
</p>

<button (click)="redirect('vertretung-Planer')">
    Ich bin Vertretungsplaner (alpha)
</button> 
<br>
<button >
    Ich bin Raumplaner (-)
</button> 
<br>

</div>


