

<div>Alle unten genannten Icons von <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a>
    <br>
    
    Pfeile, Blume, Sonne, Blatt, Schneeflocke: <a href="https://www.flaticon.com/de/autoren/roundicons" title="Roundicons">Roundicons</a> 
    <br>
 Älterer Mann: <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> 
 <br>
 Frau in Pink: <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> 
 <br>
 Blume/Iris, Länder/Sprachen, Gruppe Kinder, junger Mann, Edit-Icon, Basketball-Spieler, Teller & Besteck: <a href="https://www.freepik.com" title="Freepik">Freepik</a> 
 </div>

