$color-text: rgb(182, 205, 221);
$color-background:rgb(32, 56, 73);

.zeile{
    display:grid;
    grid-template-columns: 15pt 80pt 80pt 80pt 80pt 80pt; 
}
.th{
    text-align:center; 
}
.th.zeile div{border-bottom:1px solid $color-text;}
.th.zeile div:nth-child(1){border-bottom:none;}
.th.links{border-right:1px solid $color-text;}

#gesamtbox{
   width:415pt;
    margin-left:auto;
    margin-right:auto;
   
}
.zelle{
    text-align:center;
    padding-left:5pt;
    padding-right:5pt;
}

.item{display:flex;}
.fach, .klasse{width:100%;}

#gesamt{background-color:$color-background;
color:$color-text; }






@media print{
    .blueback{
        color:black;
        font-size:12pt;
        font-weight: normal;
    }

    #gesamt{background-color:white;
    color:black;}
}