.zeile{
    display:grid;
    grid-template-columns: 15pt 80pt 80pt 80pt 80pt 80pt;
  
}

.th{
    font-weight:bold;
    text-align:center;
}

#gesamtbox{
   width:415pt;
    margin-left:auto;
    margin-right:auto;
   
}

.zelle{
    text-align:center;
    padding-left:5pt;
    padding-right:5pt;
}
.item{

}
