* {color:black;
 // background-color: rgb(88, 70, 116);
}

button {
  border: none;
  background-color: inherit;
  width: 120pt;
}

button:hover {
  background-color: green;
}

.date {
  margin: 5pt;
  width: 60pt;
  background-color: inherit;
}

#menu , #ansichtMenu, #topmenu{
  display: flex;
  background-color:rgb(5, 157, 134);
}

#ansichtMenu{
  background-color:rgb(15, 172, 145);
  /*background-image: 
  repeating-linear-gradient(45deg, 
  rgb(50, 60, 80) 0pt,
  rgb(43, 49, 68) 8pt, 
  rgb(50, 60, 80) 12pt);*/
}



#menu button, #ansichtMenu button, #topmenu button{
  border-radius:5pt;
  margin:5pt;
  width:100%;
}

.loadSaveContain {
  display: flex;
  button{width:100%;}
}
 #ansichtMenu button,
 #topMenu{}

.save {
  background-color: rgb(122, 36, 36);
  color: rgb(214, 181, 176);

}

.load {
  background-color: rgb(43, 95, 43);
  color: rgb(170, 214, 180);

  
}





#container{
  margin:0pt;
  padding:0pt;
  display:block;
  
  }


  
#leerraum{
  min-height:10pt;
  height:60pt;
  
}

#Lehrerselect {
  height:30pt;
  text-align: center;
  width:99%;
 
  div{
    button{  margin: 0pt;
      padding:0.5pt;
      width: auto;
    }
  }
 
  position: fixed;
 bottom:20pt;
 left: 2pt;
 margin-right:2pt;
    opacity:0.9;
  z-index: 4;
  background-color: rgb(103, 111, 136);
  border:3pt black solid;
  border-radius:5pt;
  padding:5pt;
 
}


.kuerzelGroß{font-size:24pt;
  color:green;
}









