<div id="topmenu" class="noprint">
  <div class="date ">
    {{termine.datumHeute.getDate()}}.{{termine.datumHeute.getMonth()+1}}.{{termine.datumHeute.getFullYear()}}
  </div>
  <div class="loadSaveContain">
    <button class=" load" (click)="load()">load </button>
    <button class="speicherWahl" triggers="click" [ngbTooltip]="Speicherplaetze"> {{speicherPlatzNr}}
      <ng-template #Speicherplaetze>
        <button class="noprint" (click)="wahl(0)">0</button>
        <button class="noprint" (click)="wahl(1)">1</button>
        <button class="noprint" (click)="wahl(2)">2</button>
        <button class="noprint" (click)="wahl(3)">3</button>
        <button class="noprint" (click)="wahl(4)">4</button>
        <button class="noprint" (click)="wahl(5)">5</button>
        <button class="noprint" (click)="wahl(6)">6</button>
        <button class="noprint" (click)="wahl(7)">7</button>
        <button class="noprint" (click)="wahl(8)">8</button>
        <button class="noprint" (click)="wahl(9)">9</button>
        <button class="noprint" (click)="wahl(10)">10</button>
      </ng-template>
    </button>
    <button class="save" (click)="save()">save </button>
  </div>
</div>



<span id="menu" class="noprint">
  <button (click)="redirect('lehrerListe')"> Lehrer-Übersicht</button>
  <button (click)="redirect('klasseFach')"> Zuweisung </button>
  <button (click)="redirect('gesamtplan')"> Gesamtplan </button>
  <!--<button class="noprint" (click)="redirect('epoche')"> Epoche</button>
  <button class="noprint" (click)="redirect('schiene')"> Schiene</button>
  <button class="noprint" (click)="redirect('rhythmus')"> Rhythmus</button>-->
  <button (click)="redirect('ESR')"> ESR </button>
  <button (click)="redirect('vertretung')">Vertretung</button>
</span>

<span id="ansichtMenu" class="noprint">
  <button (click)="redirect('einzelplaene')">
    Einzelplaene </button>
</span>

<div id="container">
  <router-outlet></router-outlet>
</div>

<div id="leerraum" class="noprint">
</div>

<div id="Lehrerselect" class="buttonreihe noprint">
  <div>

    <ng-container *ngIf="lehrerArray$|async as resAnzahl">


      <ng-container *ngFor="let lehre of this.lehrerListe; index as i">
        <!-- ESR ANZEIGE-->
        <ng-container
          *ngIf="lehrer.gewaehlterPlan=='ESR'&&(resAnzahl[lehre.kuerzel]&&resAnzahl[lehre.kuerzel].rhy>0
          ||resAnzahl[lehre.kuerzel]&&resAnzahl[lehre.kuerzel].epo>0||resAnzahl[lehre.kuerzel]&&resAnzahl[lehre.kuerzel].sch>0)">
          <button (click)="lehrerwahl(i)">

            <div>
              {{lehre.kuerzel}}
            </div>
          </button>
        </ng-container>
        <!-- ESR kuerzel ende-->
        <!-- ÜBstunden kuerzel start-->
        <ng-container
          *ngIf="lehrer.gewaehlterPlan=='gesamtplan'&&(resAnzahl[lehre.kuerzel]&&resAnzahl[lehre.kuerzel].ueb>0)">
          <button (click)="lehrerwahl(i)">
            <div>
              {{lehre.kuerzel}}
            </div>
          </button>
        </ng-container>
        <!-- ÜBstunden kuerzel ende-->
        <ng-container *ngIf="lehrer.gewaehlterPlan!='gesamtplan'&&lehrer.gewaehlterPlan!='ESR'">
          <button (click)="lehrerwahl(i)">
            <div>
              {{lehre.kuerzel}}
            </div>
          </button>
        </ng-container>


      </ng-container>

      <button triggers="click" [autoClose]="true" [ngbTooltip]="Lehrer2" placement="top" *ngIf="lehrer.gewaehlterPlan=='ESR'||lehrer.gewaehlterPlan=='gesamtplan'">
        weitere
      </button>

      <ng-template #Lehrer2>
        <ng-container *ngFor="let lehre of this.lehrerListe; index as i">
          <!-- ESR ANZEIGE WEITERE lehrer-->
          <ng-container
            *ngIf="lehrer.gewaehlterPlan=='ESR'&&(resAnzahl[lehre.kuerzel]&&resAnzahl[lehre.kuerzel].rhy==0)&&
            (resAnzahl[lehre.kuerzel]&&resAnzahl[lehre.kuerzel].epo==0)&&(resAnzahl[lehre.kuerzel]&&resAnzahl[lehre.kuerzel].sch==0)">
            <button (click)="lehrerwahl(i)">
              <div>
                {{lehre.kuerzel}}
              </div>
            </button>
          </ng-container>
          <!-- Übstunden ANZEIGE WEITERE lehrer-->
          <ng-container *ngIf="lehrer.gewaehlterPlan=='gesamtplan'">
            <ng-container *ngIf="(resAnzahl[lehre.kuerzel]&&!resAnzahl[lehre.kuerzel].ueb>0)">
              <button (click)="lehrerwahl(i)">
                <div>
                  {{lehre.kuerzel}}
                </div>
              </button>
            </ng-container>

          </ng-container>
        </ng-container>
        <!-- Sonst: Nix im weiter-button-->
          

      </ng-template>

    </ng-container>

  </div>
</div>
