h1 {
  display: flex;
  justify-content: space-around;
}

#menuLeiste {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;

  button {
    overflow: hidden;
    margin: 3pt;
    border-radius: 5pt;
    border: none;
    height: 25pt;
    background: none;

    >img {
      height: 25pt;
    }
  }
}

.miniTable {
  img {
    height: 6pt;
  }

  margin:0pt;
  margin-top:-13pt;
  padding:0pt;
  font-size:6pt;
  font-weight: bold;
  line-height: 6pt;

  tr {
    td {
      border: 1px black solid;
    }
  }

  height:5pt;
}

.menu2 {
  background-color: grey;
  display: flex;
  justify-content: space-around;

  #savemenu {
    display: grid;
    grid-template-columns: 60pt 40pt 40pt;
    //Load, save-element mit datum und speicherplatzwahl
    text-align: center;
    .load {
      background-color: rgb(122, 204, 122);
      border: none;
    }
    .save {
      background-color: rgb(207, 132, 132);
      border: none;
    }

  }
  .home {
    img {
      width: 30pt;
    }
  }

  #Lehrerselect {
    height:12pt;
    //Menu mit LehrerKuerzel-buttons
    text-align: center;
    div {
      button {
        img {
          height: 12pt;
        }
        margin: 0pt;
        border:none;
        padding: 0.5pt;
        height:100%;
        background:rgb(192, 248, 255);
      }
    }
  }
}

.HU,
.huB,
.epo,
.epoB {
  background-color: rgb(207, 198, 98);
}

.Schiene,
.schB,
.sch {
  background-color: rgb(176, 219, 130);
}

.StartUp,
.rhyB,
.rhy {
  background-color: rgb(255, 144, 133);
}

.toggleMenuLeher {
  position: absolute;
  top: 30pt;
  right: 0pt;
  display: flex;
  width: 160pt;
  flex-wrap: wrap;

  >div {
    background-color: steelblue;
  }
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  #Lehrerselect {
  }
}

@media only screen and (max-width: 460px),
(min-device-width: 468px) and (max-device-width: 624px) {
  #Lehrerselect {
  }

  #savemenu {
    //Load, save-element mit datum und speicherplatzwahl   
    top: 85pt;
  }
}
