<p>Navigation Erläuterung:</p>

<p>Lehrer/Fächer: Hier kann man den Lehrern weitere Fächer zuweisen, oder fehlende Lehrer ergänzen</p>
<p>Klassen/Fächer/Lehrer: Hier kann man die Anzahl der Stunden in einer Klasse für ein Fach festlegen und Lehrer diesem Fach der Klasse zuweisen</p>
<p>Gesamtplan: Hier kann man den Gesamt-Stundenplan aller Klassen ändern (Mo / Di / Mi / Do / Fr einzeln Navigation)</p>
<p>Epochenpläne: Hier kann man Termine ändern (Fahrten der Klassen, Projekte, Ferientermine etc.) und die Epoche / Schiene / Rhythmus bearbeiten (weiterhin Navigation Abschnittsweise bis zu den Ferien jeweils)</p>
<p>Vertretungsplan: Hier kann man die Vertretung planen und den Plan ausdrucken, es wird aber aktuell nichts gespeichert</p>
<p>Lehrerpläne: Hier kann von einzelnen Lehrern der Stundenplan angezeigt werden, oder per Button auch alle Lehrerpläne.</p>
