
h2{font-size:16pt;
}
h3{font-size:12pt;
    margin-bottom:0pt;
}

.block{margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom:2pt;
   

}
#Zeile{
    display:flex; 
    flex-wrap:wrap;
    flex-direction:row;
    width: 100%;
} 

.buttonEpoche{
    width: 50pt;
    border-radius: 5pt;
    height: 30pt;
    border:0pt solid black;
    background-color:beige;
}
.klassenNummerButton{
    border-radius: 5pt;
    height: 32pt;
    border:0pt solid black;
    background-color:beige;
    line-height: 30pt;
}
.monatsFach{
    height: 14pt;
}

.datumFach{
    font-size: 8pt;
}
.datumFach .date{
    border-top: 1pt solid black;
    min-height: 9pt;
}
.datumFach .wochenTag{
    min-height: 9pt;
    font-size: 7pt;
}
.datumFach.Mo{
    border-left: solid 1pt black;
}


.toggle-item-Container{font-size: 10pt;}


.tagesItem{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0pt;
    width: 10pt;
    height: 14pt;
    margin-bottom:160pt;
}


.rotierContainer{
    font-size: 8pt;
    padding:0pt;
    padding-top:4pt;
    padding-bottom: 2pt;
    margin:0pt;
    width: 10pt;
    border-radius: 3pt;
    height: 120pt;
 
    -ms-writing-mode: tb-rl; 
   writing-mode: vertical-rl; 
  /* transform:rotate(0deg);*/
}




.Herbstferien, .Weihnachtsferien, .Osterferien, .Sommerferien, .WE ,
.Pfingstmontag, .Pfingstferien ,.Himmelfahrt ,.Arbeit ,.Ostermontag ,.Karfreitag ,.Neujahr ,.Weihnachtstag ,.Reformationstag 
,.Einheit {
    background-color:steelblue;
    border-radius: 2pt;

}

.schule {
    /*background-color: green;*/
}
.EM ,.Abi{
    background-color:yellow;
    border-radius: 2pt;
}

.no{
    background-color: red; /* sollte nicht passieren, sonst fehlt notiz-klassen-zuordnung*/
}



