<h2>Rhythmischer Teil</h2>

<div class="block">
  <div id="Zeile">
    <div class="tagesItem">      <div class="monatsFach ">      </div>      <div class="datumFach">        <div class="date">          
    </div>        <div class="wochenTag">          
    </div>      </div>      <div class="klassenNummerButton">        8      </div>      <div class="klassenNummerButton">
    9      </div>      <div class="klassenNummerButton">        10      </div>      <div class="klassenNummerButton">        11
  </div>      <div class="klassenNummerButton">        12      </div>
</div>
    <ng-container *ngFor="let tagObj of datumObj index as b">
      <ng-container
        *ngIf="(tagObj.notiz=='schule')||(b===0)||((b>0)&&(tagObj.notiz!='schule')&&(datumObj[b-1].notiz!=tagObj.notiz))&&(tagObj.notiz!='WE')">
        <div class="{{tagObj.wochenTag}} tagesItem">
          <div class="monatsFach ">
            <ng-container
              *ngIf="b ===  0 || tagObj.tag.getMonth()!=datumObj[b-1].tag.getMonth()||(tagObj.tag.getDate()==10&&tagObj.tag.getMonth()==0)">
              {{ferienTerminService.monatZuString(tagObj.tag)}}
            </ng-container>
          </div>
          <!-- normale Schultage          Ausnahme: Feiertage s.u. oder Sondertage (prüfung etc)-->
          <div *ngIf="tagObj.frei==false&&tagObj.notiz=='schule', else BLA" class="datumFach {{tagObj.wochenTag}}">
            <div class="date">
              {{tagObj.tag.getDate()}}
            </div>
            <div class="wochenTag">{{ ferienTerminService.tagZuString( tagObj.tag)}}
            </div>

            <!--KLASSE 9 START-->
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="LehrerNEUN" placement="bottom" triggers="click" (click)="cellKlick($event,b,9)">
              <ng-container *ngIf="rhythmus9[b] as ellem">
                <ng-container *ngFor="let fach of ellem.unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="LehrerNEUN" placement="bottom" triggers="click"
                  (click)="cellKlick($event,b,9)">
                  {{rhythmus9[b].unterricht}}
                  <ng-container *ngIf="rhythmus9[b].unterricht!=[]">
                    <ng-container *ngFor="let fach of rhythmus9[b].unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>
            <ng-template #LehrerNEUN>
              <ng-container *ngFor="let elementt of tabellensortierung(9) index as stundenI">
                <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                  (click)="togglezellenClick($event,b,elementt)">
                  <div class="toggle-items">
                    {{elementt?elementt.fach:"kein Fach"}}
                  </div>
                  <div class="toggle-items">
                    {{elementt?elementt.wochenstunde:"no"}}
                  </div>
                  <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                    |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <!--KLASSE 9 ENDE-->
            <!--KLASSE 10 START-->
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="LehrerZEHN" placement="bottom" triggers="click" (click)="cellKlick($event,b,10)">
              <ng-container *ngIf="rhythmus10[b].unterricht!=[]">
                <ng-container *ngFor="let fach of rhythmus10[b].unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="LehrerZEHN" placement="bottom" triggers="click"
                  (click)="cellKlick($event,b,10)">
                  <ng-container *ngIf="rhythmus10[b].unterricht!=[]">
                    <ng-container *ngFor="let fach of rhythmus10[b].unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>

            <ng-template #LehrerZEHN>
              <ng-container *ngFor="let elementt of tabellensortierung(10) index as stundenI">
                <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                  (click)="togglezellenClick($event,b,elementt)">
                  <div class="toggle-items">
                    {{elementt?elementt.fach:"kein Fach"}}
                  </div>
                  <div class="toggle-items">
                    {{elementt?elementt.wochenstunde:"no"}}
                  </div>
                  <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                    |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                  </div>
                </div>
              </ng-container>
            </ng-template>

            <!--KLASSE 10 ENDE-->
            <!--KLASSE 11 START-->

            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="LehrerELF" placement="bottom" triggers="click" (click)="cellKlick($event,b,11)">
              <ng-container *ngIf="rhythmus11[b].unterricht!=[]">
                <ng-container *ngFor="let fach of rhythmus11[b].unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="LehrerELF" placement="bottom" triggers="click"
                  (click)="cellKlick($event,b,11)">
                  <ng-container *ngIf="rhythmus11[b].unterricht!=[]">
                    <ng-container *ngFor="let fach of rhythmus11[b].unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>
            <ng-template #LehrerELF>
              <ng-container *ngFor="let elementt of tabellensortierung(11) index as stundenI">
                <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                  (click)="togglezellenClick($event,b,elementt)">
                  <div class="toggle-items">
                    {{elementt?elementt.fach:"kein Fach"}}
                  </div>
                  <div class="toggle-items">
                    {{elementt?elementt.wochenstunde:"no"}}
                  </div>
                  <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                    |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                  </div>
                </div>
              </ng-container>
            </ng-template>

            <!--KLASSE 11 ENDE-->
            <!--KLASSE 12 START-->
            <!-- Montag-Buttons "normal " bei schultagen Mo-->
            <button *ngIf="tagObj.notiz=='schule' &&tagObj.wochenTag=='Mo'; else BUT" class="buttonEpoche"
              [ngbTooltip]="LehrerZwoelf" placement="bottom" triggers="click" (click)="cellKlick($event,b,12)">
              <ng-container *ngIf="rhythmus12[b].unterricht!=[]">
                <ng-container *ngFor="let fach of rhythmus12[b].unterricht">
                  {{fach? fach.fach:"nob"}}
                </ng-container>
              </ng-container>
            </button>
            <!-- wenn montag oder dienstag besetzt sind wird di/mi genommen (BUT)-->
            <ng-template #BUT>
              <!--bei Feiertag den Button verschieben auf Di oder Mi-->
              <ng-container
                *ngIf="datumObj[b-1].notiz!='schule'&&tagObj.wochenTag=='Di'||datumObj[b-1].notiz!='schule'&&datumObj[b-2].notiz!='schule'&&tagObj.wochenTag=='Mi'">
                <button class="buttonEpoche" [ngbTooltip]="LehrerZwoelf" placement="bottom" triggers="click"
                  (click)="cellKlick($event,b,12)">
                  <ng-container *ngIf="rhythmus12[b].unterricht!=[]">
                    <ng-container *ngFor="let fach of rhythmus12[b].unterricht">
                      {{fach? fach.fach:"nob"}}
                    </ng-container>
                  </ng-container>
                </button>
              </ng-container>
            </ng-template>
            <ng-template #LehrerZwoelf>
              <ng-container *ngFor="let elementt of tabellensortierung(12) index as stundenI">
                <div class="toggle-item-Container" *ngIf="elementt!=undefined"
                  (click)="togglezellenClick($event,b,elementt)">
                  <div class="toggle-items">
                    {{elementt?elementt.fach:"kein Fach"}}
                  </div>
                  <div class="toggle-items">
                    {{elementt?elementt.wochenstunde:"no"}}
                  </div>
                  <div id="toggle-items" *ngIf="elementt.lehrer.kuerzel!=none">
                    |{{elementt.lehrer?elementt.lehrer.kuerzel:"Lehrer"}}
                  </div>
                </div>
              </ng-container>
            </ng-template>
            <!--KLASSE 12 ENDE-->
          </div>
        </div>
        <!--  freie "Schultage", Feiertage-->
        <ng-template #BLA>
          <div class="{{tagObj.wochenTag}} tagesItem {{tagObj.notiz}} rotierContainer">
            {{tagObj.notiz}}
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
  </div>







</div>
