* {
  font-size: 9pt;
}

$color-background:rgb(59, 61, 56);
$darkdarkText:rgb(95, 95, 78);
$darkText:rgb(119, 119, 107);

//aus zuweisung kopiert, noch nicht benutzt:
$background:rgb(57, 61, 58);
$background2:rgb(52, 57, 52);
$color:rgb(153, 153, 134);
$back-light:rgb(68, 68, 68);

//benutzen:aus esr

tr {
  border-top: 1px solid $background;
}

$rhytext:rgb(216, 175, 165);
$rhybackground: rgb(167, 74, 65);

$epoText:rgb(223, 240, 128);
$epoBackground: rgb(153, 145, 59);

$schieneText:rgb(171, 240, 171);
$schieneBackground: rgb(117, 150, 82);

tr:nth-child(n) {
  background-color: $background2;
  td {
    border-right: 1pt solid $background
  }
}
.kuerzel {
  color: lightgrey;
}

//.normalB{background-color:rgb(102, 99, 104);
//color:rgb(143, 162, 195);}
//.empty{min-height:20pt;
//background-color:$hintergrund2;}

//$hover:rgb(98, 107, 146);

.projekt {
  color: $color;
}

table {
  

  margin-top: 10pt;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding:0pt;

  text-align: center;
}

tr,
td {
  height: 20pt;
  white-space: nowrap;
}

table {
  button {
    padding:0pt;
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    color: inherit;
  }
}






#gesamt {
  color: rgb(182, 182, 150);
  background-color: rgb(59, 61, 56);
}

.tagesContainer {
  width: 35pt;
  pointer-events: none;
}

.planRahmen {
  display: flex;
  flex-wrap: wrap;
}

.wochenRahmen {
  display: flex;
}

.Monat,
.Datum {
  height: 15pt;
  text-align: center;
}

.Monat {
  white-space: nowrap;
}

.Datum {
  border-top: 1pt solid rgb(182, 182, 150);
  font-size: 8pt;
}


.ferienNotiz {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 15pt;
  padding-top: 2pt;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  border-radius: 5pt;
  background-color: rgb(44, 75, 100);
  color: rgb(182, 182, 150);
}

.EM,
.Abi {
  background-color: rgb(151, 111, 36);
}

.error {
  color: rgb(219, 105, 105);
}

.ok {
  color: rgb(137, 143, 137);
}

.blueback {
  color: rgb(149, 149, 202);
  font-weight: bold;
  font-size: 12pt;
}

.zeile {
  display: flex;
}

.rhy,
.epo,
.sch {
  width: 95%;
  text-align: center;
}

.rhy {
  color: red;
  border-top: 1px solid red;
}

.epo {
  color: goldenrod;
  border-top: 1px solid goldenrod;
}

.sch {
  color: forestgreen;
  border-top: 1px solid forestgreen;
}


.epoB {
  //background-color: $epoBackground;
  color: $epoBackground;
}

.schB {
  background-color: $schieneBackground;
  color: $schieneText;
}

.rhyB {
  background-color: $rhybackground;
  color: $rhytext;
}


tr:nth-child(2) {
  td div{
    width:98%;
    border-top:1pt solid $rhybackground;
   // background-color:  $rhybackground;
    color:$rhybackground;
  }
}
tr:nth-child(3) {
  td div{
    width:98%;
  //  background-color:  $epoBackground;
  border-top:1pt solid $epoBackground;
    color:$epoBackground;
  }
}
tr:nth-child(4) {
  td div{
    width:98%;
  //  background-color:  $schieneBackground;
  border-top:1pt solid $schieneBackground;
    color:$schieneBackground;
  }
}




@media print {


  #gesamt {
    color: black;
    background-color: white;
  }
  .ferienNotiz{background-color:white;
  color:rgb(65, 65, 121);}

  .Datum {
    border-top: 1pt solid black;

  }

 


}
