<div id="gesamt">
  <h1>ESR-Plan: {{gewaehlterLehrer.kuerzel}} </h1>

  <div class="planRahmen">
    <ng-container *ngFor="let tag of esrPlan; index as d">

      <ng-container *ngIf="tag.tag.getDay()==1">
        <!-- wenn montag nur zeigen      .... dann mo, di, mi, do, fr anzeigen!-->
        <ng-container *ngIf="d<esrPlan.length-4">
          <ng-container
            *ngIf="(esrPlan[d].frei==false||esrPlan[d+1].frei==false||esrPlan[d+2].frei==false||esrPlan[d+3].frei==false||esrPlan[d+4].frei==false); else LEERWOCHE">
            <div class="wochenRahmen">
              <!--irgendein Tag Schule? sonst LEERwoche-->


             

                <!-- wann soll tag angezeigt werden? Nur wenn nicht frei ist...-->
                <div class="tagesContainer {{ferienServ.tagZuString(tag.tag)}}">
                  <div class="Monat">
                    <ng-container
                      *ngIf="tag.tag.getDay()==1&&(d>=7&&ferienServ.monatZuString(tag.tag)!=ferienServ.monatZuString(esrPlan[d-7].tag)||d<7)">
                      {{ferienServ.monatZuString(tag.tag)}} {{tag.tag.getFullYear()}}
                    </ng-container>
                  </div>
                  <div class="Datum  {{tag.frei}} {{tag.notiz}}">
                    <!--<ng-container *ngIf="tag.tag.getDay()==1">-->
                      {{ferienServ.tagZuString(tag.tag)}} {{tag.tag.getDate() }}
                  </div>

                  <div class="tagesButtonContainer {{ferienServ.tagZuString(tag.tag)}}">

                    <!-- ab hier korrigieren für einzelne Lehrer......-->
                    <ng-container *ngIf="(ferienServ.tagZuString(tag.tag)=='Mo'); else LEER">
                      <ng-container *ngFor="let el of lehrerItems(gewaehlterLehrer)">
                        <ng-container *ngIf="gewaehlterLehrer">

                          <ng-container *ngFor="let tagStunde of el.zuweisung.rhythmus">
                            <ng-container
                              *ngIf="el.lehrer[0]&&tagStunde.start.getTime()<=tag.tag.getTime()&&tagStunde.ende.getTime()>=tag.tag.getTime()">
                              <div class="rhy">
                                 {{el.fach}}
                                {{el.klasse}}
                              </div>
                            </ng-container>
                          </ng-container>


                          <ng-container *ngFor="let tagStunde of el.zuweisung.epoche">
                            <ng-container
                              *ngIf="el.lehrer[0]&&tagStunde.start.getTime()<=tag.tag.getTime()&&tagStunde.ende.getTime()>=tag.tag.getTime()">

                              <div class="epo">
                                {{el.fach}}
                                {{el.klasse}}
                              </div>
                            </ng-container>
                          </ng-container>

                          <ng-container *ngFor="let tagStunde of el.zuweisung.schiene">
                            <ng-container
                              *ngIf="el.lehrer[0]&&tagStunde.start.getTime()<=tag.tag.getTime()&&tagStunde.ende.getTime()>=tag.tag.getTime()">

                              <div class="sch">
                                {{el.fach}}
                                {{el.klasse}}
                              </div>
                            </ng-container>
                          </ng-container>


                        </ng-container>
                      </ng-container>
                    </ng-container>

                    <ng-template #LEER>
                      <div class="fakeButton">

                      </div>

                    </ng-template>
                   
                  </div>
                </div>
           
            </div>
          </ng-container>
          <ng-template #LEERWOCHE>
            <div class="wochenRahmen">
              <div class="ferien">
                <!--  <div class="Jahr"> </div>-->
                <div class="Monat">
                  <ng-container
                    *ngIf="tag.tag.getDay()==1&&(d>=7&&ferienServ.monatZuString(tag.tag)!=ferienServ.monatZuString(esrPlan[d-7].tag))">
                    {{ ferienServ.monatZuString(tag.tag)}} {{tag.tag.getFullYear()}}
                  </ng-container>
                </div>
                <div class="Datum {{tag.frei}} {{tag.notiz}}">
                  {{tag.tag.getDate() }}
                </div>
                <div class="Tag">
                  {{ferienServ.tagZuString(tag.tag)}}
                </div>
                <div class="ferienNotiz {{tag.notiz}}">
                  {{tag.notiz.slice(0,8)}}
                </div>
              </div>
            </div>
          </ng-template>

        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
