* {
  padding: 0pt;
  margin: 0pt;
}

$schriftfarbe:rgb(221, 200, 200);
$hintergrund:rgb(77, 74, 78);
//$linienDark:rgb(63, 63, 63);
$hover:rgb(98, 107, 146);
$hintergrund2:rgb(81, 78, 83);

//aus zuweisung kopiert, noch nicht benutzt:
$background:rgb(57, 61, 58);
$background2:rgb(52, 57, 52);
$color:rgb(153, 153, 134);
$back-light:rgb(68, 68, 68);

h1,
h2 {
  text-align: center;
  margin-top: 0pt;
  padding-top: 10pt;
}



button {
  border: solid 0pt black;
  color: inherit;
  background-image: inherit;
}

#gesamtuebersicht {
  
  background-image: repeating-linear-gradient(45deg,
      $background 0%,
      $background2 1%,
      $background 2%);
  color: $schriftfarbe;
}


button:hover {
  background-image: repeating-linear-gradient(45deg,
      $hover 0%,
      rgb(59, 66, 97) 1%,
      $hover 2%);
}

th {
  font-weight: normal;
}

table {
  page-break-inside: auto;
  margin-right:auto;
  margin-left:auto;
  border-collapse: collapse;

  tr {

    th {
      text-align: center;
    }

    td {
      height: 45pt;
    

      button {
        height: 100%;
        width:100%;

        div {}
      }
    }
  }
}


.fachItem {
  display: flex;
  div{width:100%;}
}





//obere buttons mo, di mittwoch
.buttonreihe.wochentagButton{
  display: flex;
  background-image: inherit;
  button{width:100%;}
  border-top: 1pt $schriftfarbe solid;
}


//obere buttons ende


// $colors : #fedc00, #fcb712, #f7921e, #e87f24, #dd6227, #dc4c27, #ca3435, #b82841, #953751, #364c88, #16599d, #02609e, #0073a9, #008aa4, #239a87, #7cba6d, #becc2f, #e0d81d;




.error {
  color: red;
}

.ok {
  border-radius: 4pt;
  color: rgb(255, 255, 255);
}

.blueback {
  color: rgb(82, 82, 241);
}

.gruen {
  color: green;
}


.huB,
.schB,
.rhyB,
.normalB,.empty {
  border-right: 1px $hintergrund solid;
  border-left: 1pt $hintergrund solid;
  height: 100%;
  border-top: 1pt solid $hintergrund;
}


.huB {
  border:1px solid  rgb(153, 145, 59);

  background-color: rgb(153, 145, 59);
  color: rgb(223, 240, 128);

  background-image:
    repeating-linear-gradient(45grad,
      rgb(153, 145, 59) 0%,
      rgb(143, 135, 49) 4%,
      rgb(135, 130, 49) 8%,
      rgb(153, 145, 59) 12%);
}

.schB {
  border:1px solid  rgb(117, 150, 82);

  color: rgb(171, 240, 171);
  background-image:
    repeating-linear-gradient(45grad,
      rgb(117, 150, 82) 0%,
      rgb(100, 120, 75) 8%,
      rgb(117, 150, 82) 12%);
}

.rhyB {
  border:1px solid  rgb(167, 74, 65);
 
  color: rgb(216, 175, 165);

  background-image:
    repeating-linear-gradient(45grad,
      rgb(147, 74, 65) 0%,
      rgb(127, 53, 58) 4%,
      rgb(130, 50, 58) 8%,
      rgb(147, 74, 65) 12%);



}

.normalB {
  background-image:
    repeating-linear-gradient(45grad,
    rgb(75,75, 75) 0%,
      rgb(65, 65, 65) 4%,
      rgb(75, 75, 75) 12%);

  color: rgb(143, 162, 195);


}

.empty {
  min-height: 20pt;
  background-image:
    repeating-linear-gradient(45grad,
      $background 0%,
      $background2 1%,
      $back-light 2%,
      $background 3%);
      opacity: 0.4;
  //background-color:$hintergrund2;
}






#toggle-item-Container {
  opacity: 1;
  background-color: rgb(69, 56, 73);
  padding: 0pt;

  display: grid;
  width: auto;
  grid-template-columns: 35% 10% 10% 20% 25%;
  border: none;
  white-space: nowrap;
}



.toggle-items {
  font-size: 12pt;
  line-height: 12t;
  width: 100%;

}

.iconBut{
  background:none;
  border:none;
}


#left 
  button, #right button{
    position:fixed;
    top:50%;


}
#left button{left: 0pt;}
#right button{right: 0pt;}




@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	


  .fachItem {
    display: block;

    
  }

  //nur erste fachitems anzeigen:
  /*button>.fachItem{display:none;}
  button>.fachItem:first-child{
    display:block;
  }*/
  .kuerzl{display:block;}
  .fach{display:none;}


	
	/* Hide table headers (but not display: none;, for accessibility) */
	/*thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
	/*	border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
	/*	position: absolute;
		/* Top/left values mimic padding */
	/*	top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	/*td:nth-of-type(1):before { content: "First Name"; }
	td:nth-of-type(2):before { content: "Last Name"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Secret Alias"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }*/
}




@media print {

  #gesamtuebersicht {
    background-color: white;
    color: black;
  }

  .wochentagButton {
    border-top: none;
  }


  .blueback {
    color: black;    ;
    font-size: 10pt;
    font-weight: normal;
  }


  .huB {
    background-color: rgb(224, 200, 137);
    color: black;
  }

  .schB {
    background-color: rgb(185, 214, 154);
    color: black;
  }

  .rhyB {
    background-color: rgb(231, 143, 135);
    color: black;
  }

  .normalB {
    background-color: white;
    color: black;
  }

  .huB,
  .schB,
  .rhyB,
  .normalB {
    border: none;
    border-right: 1px black solid;
    border-top: 1px black solid;

  }

  .klassenspalte {
    margin: 0pt;
  }

  #tabelle>div:nth-child(1) {
    border-right: 1px black solid;
  }

  /*
  button:last-child>.huB {
    background-color: green;
  }*/




  //button:nth-of-type(odd){border-top:1pt black solid;}




}



