* {
  padding: 0pt;
  margin: 0pt;
}

$schriftfarbe:rgb(0, 0, 0);
$hover:rgb(98, 107, 146);

//aus zuweisung kopiert, noch nicht benutzt:
$background:rgb(126, 126, 126);
$background2:rgb(194, 199, 194);
$back-light:rgb(231, 224, 224);

h1,
h2 {
  text-align: center;
  margin-top: 0pt;
  padding-top: 10pt;
}

button {
  border: solid 0pt black;
  background-image: inherit;
}

#gesamtuebersicht {
  background-color: rgb(255, 255, 255);
  color: $schriftfarbe;
}

button:hover {
  background-image: repeating-linear-gradient(45deg,
      $hover 0%,
      rgb(59, 66, 97) 1%,
      $hover 2%);
}

th {
  font-weight: normal;
}

table {
  page-break-inside: auto;
  margin-right: auto;
  margin-left: auto;
  //border-collapse: collapse;
  border-collapse: separate;
  row-gap: 20px;
  column-gap: 100px;

  tr {
    th {
      text-align: center;
    }
    td {
      height: 45pt;
      button {
        height: 100%;
        width: 100%;
        padding-left:4pt;
        padding-right:4pt;
        div {}
      }
    }
  }
}

.fachItem {
  display: flex;
  div {
    width: 100%;
  }
}

//obere buttons mo, di mittwoch
.buttonreihe.wochentagButton {
  display: flex;
  background-image: inherit;
  button {
    width: 100%;
  }
  border-top: 1pt $schriftfarbe solid;
}

//obere buttons ende
// $colors : #fedc00, #fcb712, #f7921e, #e87f24, #dd6227, #dc4c27, #ca3435, #b82841, #953751, #364c88, #16599d, #02609e, #0073a9, #008aa4, #239a87, #7cba6d, #becc2f, #e0d81d;

.error {
  color: red;
}
.ok {
  border-radius: 4pt;
  color: green;
}
.blueback {
  color: rgb(82, 82, 241);
}

.huB,
.schB,
.rhyB,
.normalB,
.empty {
  height: 100%;
}

.huB {
  background-color: rgb(238, 198, 22);
}

.schB {
  background-color: rgb(245, 229, 11);
}

.rhyB {
  background-color: rgb(59, 182, 76);
}

.normalB {
  background-color: rgb(227, 228, 227);
}

.empty {
  min-height: 20pt;
  opacity: 0.1;
}

#toggle-item-Container {
  opacity: 1;
  background-color: rgb(187, 236, 228);
  padding: 0pt;
  display: grid;
  width: auto;
  grid-template-columns: 35% 10% 10% 20% 25%;
  border: none;
  white-space: nowrap;
}

.toggle-items {
  opacity: 1;
  background-color: rgb(187, 236, 228);
  font-size: 12pt;
  line-height: 12t;
  width: 100%;
}

.iconBut {
  background: none;
  border: none;
}

#left button,
#right button {
  position: fixed;
  top: 50%;
}

#left button {
  left: 0pt;
}

#right button {
  right: 0pt;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .fachItem {
    display: block;
  }
  .kuerzl {
    display: block;
  }
  .fach {
    display: none;
  }
}



@media print {
  * {
    font-size: 14pt;
    padding: 0pt;
    margin: 0pt;
    background-image: none;
  }
  h1 {
    //font-weight:bold;
    padding-top: 0pt;
    margin: 0pt;
    font-size: 20pt;
    color: $schriftfarbe;
  }
  h2 {
    color:  $schriftfarbe;
    font-size: 16pt;
  }
  #gesamtuebersicht {
    background-image: none;
    background-color: white;
    color:  $schriftfarbe;
    border: none;
  }

  .buttonreihe.wochentagButton {
    display: block;
  }
  //sonst noprint kenie wirkung

  .kuerzl {
    color: mediumblue;
  }

  .kuerzl.error {
    color: red;
  }

  .blueback {
    color: black;
    ;
    font-size: 10pt;
    font-weight: normal;
  }

  .huB {
    background-color: rgb(224, 200, 137);
    color: black;
  }

  .schB {
    background-color: rgb(185, 214, 154);
    color: black;
  }

  .rhyB {
    background-color: rgb(231, 143, 135);
    color: black;
  }

  .normalB {
    background-color: white;
    color: black;
  }

  .empty {
    min-height: 10pt;
    opacity: 0;
    background-color: white;
    // height:10pt;
  }

  button {
    //min-height:10pt;
    height: 10pt;
  }

  .huB,
  .schB,
  .rhyB,
  .normalB,
  .empty {
    background-image: none;
    border: 1pt black solid;
    color: black;
    height: 10pt;

  }

  .wochenTagContainer {
    page-break-inside: avoid;
  }

  table {
    width: 90%;
    page-break-inside: avoid;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    line-height: 14pt;

    th:first-child {
      //  border-right:1px grey solid;
    }

    tr {
      //  border-bottom: 1px grey dotted;
      th {
        height: 10pt;
        text-align: center;
        color: black;
        font-weight: bold;
      }

      td {
        height: 10pt;
        button {
          height: 100%;
          width: 100%;
          div {}
        }
      }
    }
  }
  //.klassenspalte {
  //  margin: 0pt;
  //}

  ///#tabelle>div:nth-child(1) {
  //  border-right: 1px black solid;
  //}

  /*
  button:last-child>.huB {
    background-color: green;
  }*/
  //button:nth-of-type(odd){border-top:1pt black solid;}
}
