<div id="gesamt" class="noprint">
  <h1>ESR-Plan</h1>


  <div class="esrWahl noprint">
    <button class="noprint rhyB" (click)="wahl('rhythmus')">Rhythmus</button>
    <button class="noprint epoB" (click)="wahl('epoche')">Epoche</button>
    <button class="noprint schB" (click)="wahl('schiene')">Schiene</button>
  </div>

  <div class="flex3 noprint">

    <div id="left" class="noprint">

      <button class="iconBut" (click)="rechts()"><img width="60pt "
          src="../../../assets/iconsNav/pfeilweißLinks.png" /></button>
    </div>
    <div id="main" class="noprint">
      <h2 class="noprint {{gewaehlterPlan.substring(0,3)}}B">
        {{gewaehlterPlan[0].toUpperCase()}}{{gewaehlterPlan.substring(1)}} 2021/2022
      </h2>




      <ng-container *ngIf="gewaehlterPlan=='rhythmus'">
        <ng-container *ngIf="rhythmusPlan$|async as rhyPlan">
          <ng-container *ngFor="let abschnitt of rhyPlan">
            <table class="absch rhy2 noprint">
              <tr *ngFor="let reihe of abschnitt, index as r">
                <ng-container *ngIf="r==0; else KLASSE">
                  <td colSpan="1" *ngFor="let cell of reihe, index as c"
                    (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                    <div *ngFor="let u of cell">
                      {{u.ueberschrift|date: 'd. M'}}
                    </div>
                  </td>
                </ng-container>
                <ng-template #KLASSE>
                  <ng-container *ngFor="let cell of reihe, index as c">
                    <!-- 
                  1. Bedingung: Wenn eine neue Epoche//Klassenspiel anfängt (Startdatum übereinstimmt mit überschrift)
                2. wenn Celle leer ist natürlich anzeigen!
                3. erstes Element anzeigen (Da e bie Startwechsel auf Anfang das Datum falsch gesetzt wird auf Samstag oÄ)
                4. Elemente, deren Startdatum etwas daneben liegt auch anzeigen...
                -->
                    <ng-container *ngIf="
                  (!!cell[0]&&cell[0].start!==null&&abschnitt[0][c][0].ueberschrift.getTime()===cell[0].start.getTime())
                  ||
                  (cell.length===0)
                  ||
                  c==0
                
                ">
                      <!-- bei lehrer== null ist ganztagsabfrage. Dazu  muss kommen, wenn länge definiert wird:
                &&abschnitt[r][c][0].lehrer!==abschnitt[r][c-1][0].lehrer-->

                      <!--  IF: c==0||(equals(abschnitt[r][c],abschnitt[r][c-1])===false)-->

                      <td colSpan="{{abschnitt[r][c][0]?abschnitt[r][c][0].spanNr:1}}">
                        <button triggers="click" [ngbTooltip]="FachAuswahl" placement="bottom" [autoClose]="true"
                          (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">

                          <!-- sonder-Event (ganztaegig?)-->

                          <ng-container *ngIf="cell[0]&&cell[0].ganztaegig.length>0; else INHALT">
                            <div class="projekt">

                              {{cell[0].ganztaegig}}
                            </div>
                          </ng-container>

                          <!-- nur anzeigen, wenn kein Sonder-Event ist: -->
                          <ng-template #INHALT>
                            <div *ngFor="let u of cell" class="{{markedd(u.lehrer)}}">
                              {{u.fach}} <span class="kuerzel">{{u.lehrer}}</span>
                              <!--| {{cell[0].start|date: "d. M"}}({{cell[0].spanNr}}       -->
                            </div>
                          </ng-template>

                        </button>
                        <ng-template #FachAuswahl>
                          <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                            <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                              (click)="toggleClick(ele, abschnitt[0][c][0].ueberschrift)">
                              {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                              {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                            </button>
                          </ng-container>
                        </ng-template>

                      </td>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </ng-container>





      <ng-container *ngIf="gewaehlterPlan=='epoche'">
        <ng-container *ngIf="epochenPlan$|async as rhyPlan">
          <ng-container *ngFor="let abschnitt of rhyPlan">
            <table class="absch epo2">
              <tr *ngFor="let reihe of abschnitt, index as r">
                <ng-container *ngIf="r==0; else KLASSE">
                  <td colSpan="1" *ngFor="let cell of reihe, index as c"
                    (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                    <div *ngFor="let u of cell">
                      {{u.ueberschrift|date: 'd. M'}}
                    </div>
                  </td>
                </ng-container>
                <ng-template #KLASSE>
                  <ng-container *ngFor="let cell of reihe, index as c">
                    <ng-container *ngIf="
                  (!!cell[0]&&cell[0].start!==null&&abschnitt[0][c][0].ueberschrift.getTime()===cell[0].start.getTime())
                  ||
                  (cell.length===0)
                  ||
                  c==0
                ">
                      <td colSpan="{{abschnitt[r][c][0]?abschnitt[r][c][0].spanNr:1}}">
                        <button triggers="click" [ngbTooltip]="FachAuswahl" placement="bottom" [autoClose]="true"
                          (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                          <ng-container *ngIf="cell[0]&&cell[0].ganztaegig.length>0; else INHALT">
                            <div class="projekt">
                              {{cell[0].ganztaegig}}
                            </div>
                          </ng-container>
                          <ng-template #INHALT>
                            <div *ngFor="let u of cell" class="{{markedd(u.lehrer)}}">
                              {{u.fach}} <span class="kuerzel">{{u.lehrer}}</span>
                            </div>
                          </ng-template>
                        </button>
                        <ng-template #FachAuswahl>
                          <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                            <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                              (click)="toggleClick(ele, abschnitt[0][c][0].ueberschrift)">
                              {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                              {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                            </button>
                          </ng-container>
                        </ng-template>

                      </td>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </ng-container>



      <ng-container *ngIf="gewaehlterPlan=='schiene'">
        <ng-container *ngIf="schienenPlan$|async as rhyPlan">
          <ng-container *ngFor="let abschnitt of rhyPlan">
            <table class="absch sch2">
              <tr *ngFor="let reihe of abschnitt, index as r">
                <ng-container *ngIf="r==0; else KLASSE">
                  <td colSpan="1" *ngFor="let cell of reihe, index as c"
                    (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                    <div *ngFor="let u of cell">
                      {{u.ueberschrift|date: 'd. M'}}
                    </div>
                  </td>
                </ng-container>
                <ng-template #KLASSE>
                  <ng-container *ngFor="let cell of reihe, index as c">
                    <ng-container *ngIf="
                  (!!cell[0]&&cell[0].start!==null&&abschnitt[0][c][0].ueberschrift.getTime()===cell[0].start.getTime())
                  ||
                  (cell.length===0)
                  ||
                  c==0
                ">
                      <td colSpan="{{abschnitt[r][c][0]?abschnitt[r][c][0].spanNr:1}}">
                        <button triggers="click" [ngbTooltip]="FachAuswahl" placement="bottom" [autoClose]="true"
                          (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                          <ng-container *ngIf="cell[0]&&cell[0].ganztaegig.length>0; else INHALT">
                            <div class="projekt">
                              {{cell[0].ganztaegig}}
                            </div>
                          </ng-container>
                          <ng-template #INHALT>
                            <div *ngFor="let u of cell" class="{{markedd(u.lehrer)}}">
                              {{u.fach}} <span class="kuerzel">{{u.lehrer}}</span>
                            </div>
                          </ng-template>
                        </button>
                        <ng-template #FachAuswahl>
                          <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                            <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                              (click)="toggleClick(ele, abschnitt[0][c][0].ueberschrift)">
                              {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                              {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                            </button>
                          </ng-container>
                        </ng-template>

                      </td>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </tr>
            </table>
          </ng-container>
        </ng-container>
      </ng-container>

    </div>

    <div id="right" class="noprint">

      <button class="iconBut" (click)="links()"><img width="60pt"
          src="../../../assets/iconsNav/pfeilweiß.png" /></button>
    </div>
  </div>
</div>




<button (click)="print()" class="noprint">print</button>
<ng-container *ngIf="printAktiv">
  <div class="printContainer">
    <div class="ueberschriftContainer">
    <h1 style="color:black;">Rhythmus / Epoche / Schiene-Plan</h1>
    </div>

    <div id="" >
      <div class="ueberschriftContainer">
      <h2 class="rhyB">
      Rhythmus 2021/2022
      </h2>
    </div>

        <ng-container *ngIf="rhythmusPlan$|async as rhyPlan">
          <div class="abschnittContainer">
          <ng-container *ngFor="let abschnitt of rhyPlan">
            <table class=" rhy2">
              <tr *ngFor="let reihe of abschnitt, index as r">
                <ng-container *ngIf="r==0; else KLASSE">
                  <td colSpan="1" *ngFor="let cell of reihe, index as c"
                    (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                    <div *ngFor="let u of cell">
                      {{u.ueberschrift|date: 'd. M'}}
                    </div>
                  </td>
                </ng-container>
                <ng-template #KLASSE>
                  <ng-container *ngFor="let cell of reihe, index as c">
                    <!-- 
                  1. Bedingung: Wenn eine neue Epoche//Klassenspiel anfängt (Startdatum übereinstimmt mit überschrift)
                2. wenn Celle leer ist natürlich anzeigen!
                3. erstes Element anzeigen (Da e bie Startwechsel auf Anfang das Datum falsch gesetzt wird auf Samstag oÄ)
                4. Elemente, deren Startdatum etwas daneben liegt auch anzeigen...
                -->
                    <ng-container *ngIf="
                  (!!cell[0]&&cell[0].start!==null&&abschnitt[0][c][0].ueberschrift.getTime()===cell[0].start.getTime())
                  ||
                  (cell.length===0)
                  ||
                  c==0
                
                ">
                      <!-- bei lehrer== null ist ganztagsabfrage. Dazu  muss kommen, wenn länge definiert wird:
                &&abschnitt[r][c][0].lehrer!==abschnitt[r][c-1][0].lehrer-->

                      <!--  IF: c==0||(equals(abschnitt[r][c],abschnitt[r][c-1])===false)-->

                      <td colSpan="{{abschnitt[r][c][0]?abschnitt[r][c][0].spanNr:1}}">
                        <button  >

                          <!-- sonder-Event (ganztaegig?)-->

                          <ng-container *ngIf="cell[0]&&cell[0].ganztaegig.length>0; else INHALT">
                            <div class="projekt">

                              {{cell[0].ganztaegig.slice(0,8)}}
                            </div>
                          </ng-container>

                          <!-- nur anzeigen, wenn kein Sonder-Event ist: -->
                          <ng-template #INHALT>
                            <div *ngFor="let u of cell" class="{{markedd(u.lehrer)}}">
                              {{u.fach}} <span class="kuerzel">{{u.lehrer}}</span>
                              <!--| {{cell[0].start|date: "d. M"}}({{cell[0].spanNr}}       -->
                            </div>
                          </ng-template>

                        </button>
                        <ng-template #FachAuswahl>
                          <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                            <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                              (click)="toggleClick(ele, abschnitt[0][c][0].ueberschrift)">
                              {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                              {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                            </button>
                          </ng-container>
                        </ng-template>

                      </td>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </tr>
            </table>
          </ng-container>
        </div>
        </ng-container>
     

        
        <div class="ueberschriftContainer">
          <h2 class="epoB">
        Epoche 2021/2022
        </h2>
        </div>



     
        <ng-container *ngIf="epochenPlan$|async as rhyPlan">
          <div class="abschnittContainer">
          <ng-container *ngFor="let abschnitt of rhyPlan">
            <table class="absch epo2">
              <tr *ngFor="let reihe of abschnitt, index as r">
                <ng-container *ngIf="r==0; else KLASSE">
                  <td colSpan="1" *ngFor="let cell of reihe, index as c"
                    (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                    <div *ngFor="let u of cell">
                      {{u.ueberschrift|date: 'd. M'}}
                    </div>
                  </td>
                </ng-container>
                <ng-template #KLASSE>
                  <ng-container *ngFor="let cell of reihe, index as c">
                    <ng-container *ngIf="
                  (!!cell[0]&&cell[0].start!==null&&abschnitt[0][c][0].ueberschrift.getTime()===cell[0].start.getTime())
                  ||
                  (cell.length===0)
                  ||
                  c==0
                ">
                      <td colSpan="{{abschnitt[r][c][0]?abschnitt[r][c][0].spanNr:1}}">
                        <button >
                          <ng-container *ngIf="cell[0]&&cell[0].ganztaegig.length>0; else INHALT">
                            <div class="projekt">
                              {{cell[0].ganztaegig.slice(0,8)}}
                            </div>
                          </ng-container>
                          <ng-template #INHALT>
                            <div *ngFor="let u of cell" class="{{markedd(u.lehrer)}}">
                              {{u.fach}} <span class="kuerzel">{{u.lehrer}}</span>
                            </div>
                          </ng-template>
                        </button>
                        <ng-template #FachAuswahl>
                          <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                            <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                              (click)="toggleClick(ele, abschnitt[0][c][0].ueberschrift)">
                              {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                              {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                            </button>
                          </ng-container>
                        </ng-template>

                      </td>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </tr>
            </table>
          </ng-container>
        </div>
        </ng-container>
     


        <div class="ueberschriftContainer">
        <h2 class="schB">
        Schiene 2021/2022
        </h2>
        </div>
      
        <ng-container *ngIf="schienenPlan$|async as rhyPlan">
          <div class="abschnittContainer" >
            <ng-container *ngFor="let abschnitt of rhyPlan">
            <table class="absch sch2">
              <tr *ngFor="let reihe of abschnitt, index as r">
                <ng-container *ngIf="r==0; else KLASSE">
                  <td colSpan="1" *ngFor="let cell of reihe, index as c"
                    (click)="clickN($event,r+8,  abschnitt[0][c][0].ueberschrift)">
                    <div *ngFor="let u of cell">
                      {{u.ueberschrift|date: 'd. M'}}
                    </div>
                  </td>
                </ng-container>
                <ng-template #KLASSE>
                  <ng-container *ngFor="let cell of reihe, index as c">
                    <ng-container *ngIf="
                  (!!cell[0]&&cell[0].start!==null&&abschnitt[0][c][0].ueberschrift.getTime()===cell[0].start.getTime())
                  ||
                  (cell.length===0)
                  ||
                  c==0
                ">
                      <td colSpan="{{abschnitt[r][c][0]?abschnitt[r][c][0].spanNr:1}}">
                        <button >
                          <ng-container *ngIf="cell[0]&&cell[0].ganztaegig.length>0; else INHALT">
                            <div class="projekt">
                              {{cell[0].ganztaegig.slice(0,8)}}
                            </div>
                          </ng-container>
                          <ng-template #INHALT>
                            <div *ngFor="let u of cell" class="{{markedd(u.lehrer)}}">
                              {{u.fach}} <span class="kuerzel">{{u.lehrer}}</span>
                            </div>
                          </ng-template>
                        </button>
                        <ng-template #FachAuswahl>
                          <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                            <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                              (click)="toggleClick(ele, abschnitt[0][c][0].ueberschrift)">
                              {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                              {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                            </button>
                          </ng-container>
                        </ng-template>

                      </td>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </tr>
            </table>
            </ng-container>
          </div>
        </ng-container>
     
    </div>

  </div>



</ng-container>










<!--
  <ng-container *ngIf="gewaehlterPlan=='epoche'">
    <ng-container *ngIf="epochePlan$|async as epoPlan">
      <ng-container *ngFor="let abschnitt of epoPlan">
        <table class="absch">
          <tr *ngFor="let reihe of abschnitt, index as r">
            <ng-container *ngIf="r==0; else KLASSE">
              <th *ngFor="let cell of reihe, index as c" (click)="clickN($event,r+8,  abschnitt[0][c][0])">
                <div *ngFor="let u of cell">
                  {{u.getDate()}}.{{u.getMonth()}}
                </div>
              </th>
            </ng-container>
            <ng-template #KLASSE>
              <td *ngFor="let cell of reihe, index as c">
                <button triggers="click" [ngbTooltip]="FachAuswahl" placement="bottom" [autoClose]="true"
                  (click)="clickN($event,r+8,  abschnitt[0][c][0])">


                  <ng-container *ngIf="getGanztagsEvent(abschnitt[0][c][0], r+8)!==''; else INHALT">
                    <div class="projekt">
                      {{getGanztagsEvent(abschnitt[0][c][0], r+8)}}
                    </div>
                  </ng-container>



                  <ng-template #INHALT>
                    <div *ngFor="let u of cell" class="{{markedd(u[1])}}">
                      {{u.fach}} {{u.lehrer}}
                    </div>
                  </ng-template>

                </button>
                <ng-template #FachAuswahl>
                  <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                    <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                      (click)="toggleClick(ele, abschnitt[0][c][0])">
                      {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                      {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                    </button>
                  </ng-container>
                </ng-template>

              </td>
            </ng-template>
          </tr>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="gewaehlterPlan=='schiene'">
    <ng-container *ngIf="schienePlan$|async as schiePlan">
      <ng-container *ngFor="let abschnitt of schiePlan">
        <table class="absch">
          <tr *ngFor="let reihe of abschnitt, index as r">
            <ng-container *ngIf="r==0; else KLASSE">
              <th *ngFor="let cell of reihe, index as c" (click)="clickN($event,r+8,  abschnitt[0][c][0])">
                <div *ngFor="let u of cell">
                  {{u.getDate()}}.{{u.getMonth()}}
                </div>
              </th>
            </ng-container>
            <ng-template #KLASSE>
              <td *ngFor="let cell of reihe, index as c">
                <button triggers="click" [ngbTooltip]="FachAuswahl" placement="bottom" [autoClose]="true"
                  (click)="clickN($event,r+8,  abschnitt[0][c][0])">


                  <ng-container *ngIf="getGanztagsEvent(abschnitt[0][c][0], r+8)!==''; else INHALT">
                    <div class="projekt">
                      {{getGanztagsEvent(abschnitt[0][c][0], r+8)}}
                    </div>
                  </ng-container>



                
                  <ng-template #INHALT>
                    <div *ngFor="let u of cell" class="{{markedd(u[1])}}">
                      {{u.fach}} {{u.lehrer}}
                    </div>
                  </ng-template>

                </button>
                <ng-template #FachAuswahl>
                  <ng-container *ngIf="klassenplanServ.esrPlaan$|async as esrPlann">
                    <button *ngFor="let ele of esrPlann[gewaehlterPlan][zahlInWort(r+8)]"
                      (click)="toggleClick(ele, abschnitt[0][c][0])">
                      {{ele.lehrer[0]?.kuerzel}}({{ele?.fach}})
                      {{ele[gewaehlterPlan]}}|{{ele.zuweisung[gewaehlterPlan].length}}
                    </button>
                  </ng-container>
                </ng-template>

              </td>
            </ng-template>
          </tr>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
  -->







<!--

  <div class="planRahmen">
    <ng-container *ngFor="let montagtag of esrPlan; index as d">
      <ng-container *ngIf="montagtag.tag.getDay()==1">
        <ng-container *ngIf="d<esrPlan.length-4">
          <ng-container
            *ngIf="(esrPlan[d].frei==false||esrPlan[d+1].frei==false||esrPlan[d+2].frei==false||esrPlan[d+3].frei==false||esrPlan[d+4].frei==false); else LEERWOCHE">
            <div class="wochenRahmen">
              <ng-container *ngFor="let tag of [esrPlan[d],esrPlan[d+1], esrPlan[d+2], esrPlan[d+3], esrPlan[d+4]]">
                <div class="tagesContainer {{ferienServ.tagZuString(tag.tag)}}">
                  <div class="Monat">
                    <ng-container
                      *ngIf="tag.tag.getDay()==1&&(d>=7&&ferienServ.monatZuString(tag.tag)!=ferienServ.monatZuString(esrPlan[d-7].tag)||d<7)">
                      {{ferienServ.monatZuString(tag.tag)}} {{tag.tag.getFullYear()}}
                    </ng-container>
                  </div>
                  <div class="Datum  {{tag.frei}} {{tag.notiz}}">
                    {{tag.tag.getDate() }}
                  </div>
                  <div class="Tag">
                    {{ferienServ.tagZuString(tag.tag)}}
                  </div>
                  <div class="tagesButtonContainer {{ferienServ.tagZuString(tag.tag)}}">
                    <ng-container *ngIf="(ferienServ.tagZuString(tag.tag)=='Mo'); else LEER">
                      <button class="{{gewaehlterPlan}} 9" (click)="click($event,9,  d,tag.tag.getDay())">
                        <div class="ganztag" *ngIf="tag.ganztaegig.neun!=null; else JOOO"> {{tag.ganztaegig.neun}}
                        </div>
                        <ng-template #JOOO>
                          <ng-container *ngFor="let el of grundPlanfaecher">
                            <ng-container *ngIf="el!=null&&el.klasse==9">
                              <ng-container *ngFor="let startende of el.zuweisung[gewaehlterPlan]">
                                <ng-container
                                  *ngIf="tag.tag.getTime()>=startende.start&&tag.tag.getTime()<=startende.ende">
                                  <ng-container *ngFor="let lehr of el.lehrer">
                                    <div class="{{duplicates(lehr, tag.tag)}} {{marked(lehr)}}">
                                      {{lehr.kuerzel +"("+ el.fach + ")"}}
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-template>
                      </button>
                    </ng-container>
                    <ng-container *ngIf="(ferienServ.tagZuString(tag.tag)=='Mo'); else LEER">
                      <button class="{{gewaehlterPlan}} 10" (click)="click($event,10,d,tag.tag.getDay())">
                        <div class="ganztag" *ngIf="tag.ganztaegig.zehn!=null;else JOO"> {{tag.ganztaegig.zehn}}</div>
                        <ng-template #JOO>
                          <ng-container *ngFor="let el of grundPlanfaecher">
                            <ng-container *ngIf="el!=null&&el.klasse==10">
                              <ng-container *ngFor="let startende of el.zuweisung[gewaehlterPlan]">
                                <ng-container
                                  *ngIf="tag.tag.getTime()>=startende.start&&tag.tag.getTime()<=startende.ende">
                                  <ng-container *ngFor="let lehr of el.lehrer">
                                    <div class="{{duplicates(lehr, tag.tag)}} {{marked(lehr)}}">
                                      {{lehr.kuerzel +"("+ el.fach + ")"}}
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-template>



                      </button>
                    </ng-container>
                    <ng-container *ngIf="(ferienServ.tagZuString(tag.tag)=='Mo'); else LEER">
                      <button class="{{gewaehlterPlan}} 11" (click)="click($event,11, d,tag.tag.getDay())">
                        <div class="ganztag" *ngIf="tag.ganztaegig.elf!=null;else JO"> {{tag.ganztaegig.elf}}</div>
                        <ng-template #JO>
                          <ng-container *ngFor="let el of grundPlanfaecher">
                            <ng-container *ngIf="el!=null&&el.klasse==11">
                              <ng-container *ngFor="let startende of el.zuweisung[gewaehlterPlan]">
                                <ng-container
                                  *ngIf="tag.tag.getTime()>=startende.start&&tag.tag.getTime()<=startende.ende">
                                  <ng-container *ngFor="let lehr of el.lehrer">
                                    <div class="{{duplicates(lehr, tag.tag)}} {{marked(lehr)}}">
                                      {{lehr.kuerzel +"("+ el.fach + ")"}}
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-template>


                      </button>
                    </ng-container>
                    <ng-container *ngIf="(ferienServ.tagZuString(tag.tag)=='Mo'); else LEER">
                      <button class="{{gewaehlterPlan}} 12" (click)="click($event,12, d,tag.tag.getDay())">
                        <div class="ganztag" *ngIf="tag.ganztaegig.zwoelf!=null;else GRNO"> {{tag.ganztaegig.zwoelf}}
                        </div>
                        <ng-template #GRNO>
                          <ng-container *ngFor="let el of grundPlanfaecher">
                            <ng-container *ngIf="el!=null&&el.klasse==12">
                              <ng-container *ngFor="let startende of el.zuweisung[gewaehlterPlan]">
                                <ng-container
                                  *ngIf="tag.tag.getTime()>=startende.start&&tag.tag.getTime()<=startende.ende">
                                  <ng-container *ngFor="let lehr of el.lehrer">
                                    <div class="{{duplicates(lehr, tag.tag)}} {{marked(lehr)}}">
                                      {{lehr.kuerzel +"("+ el.fach + ")"}}
                                    </div>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-template>

                      </button>
                    </ng-container>
                    <ng-template #LEER>
                      <div class="fakeButton">

                      </div>

                    </ng-template>
                    <span *ngIf="tag.notiz!='schule'" class="sonderNotiz {{tag.notiz}}">
                      {{tag.notiz}}
                    </span>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #LEERWOCHE>
            <div class="wochenRahmen">
              <div class="ferien">

                <div class="Monat">
                  <ng-container
                    *ngIf="montagtag.tag.getDay()==1&&(d>=7&&ferienServ.monatZuString(montagtag.tag)!=ferienServ.monatZuString(esrPlan[d-7].tag))">
                    {{ ferienServ.monatZuString(montagtag.tag)}} {{montagtag.tag.getFullYear()}}
                  </ng-container>
                </div>
                <div class="Datum {{montagtag.frei}} {{montagtag.notiz}}">
                  {{montagtag.tag.getDate() }}
                </div>
                <div class="Tag">
                  {{ferienServ.tagZuString(montagtag.tag)}}
                </div>
                <div class="ferienNotiz {{montagtag.notiz}}">
                  {{montagtag.notiz}}
                </div>
              </div>
            </div>
          </ng-template>

        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
-->
