* {
  font-size: 9pt;
}

//aus zuweisung kopiert, noch nicht benutzt:
$background:white;
$color:black;
$kuerzel: grey;
$back-light:rgb(228, 228, 228);

$rhybackground: rgb(255, 144, 133);
$epoBackground: rgb(207, 198, 98);
$schieneBackground: rgb(176, 219, 130);

.iconBut {
  background: none;
  border: none;
}

.planRahmen,
#gesamt {
  //color: $color;
}

.epoB {
  background-color: $epoBackground;
}

.schB {
  background-color: $schieneBackground;

}

.rhyB {
  background-color: $rhybackground;

}

.epo2 {
  tr:nth-child(1) {
    td {
      background-color: $epoBackground;
    }
  }
}

.sch2 {
  tr:nth-child(1) {
    td {
      background-color: $schieneBackground;
    }
  }
}

.rhy2 {
  tr:nth-child(1) {
    td {
      background-color: $rhybackground;
    }
  }
}

.kuerzel {
  //color: $kuerzel;
}

.projekt {
  color: $color;
  font-style: italic;
}


td {
  text-align: center;
}

tr,
td {
  height: 20pt;
  white-space: nowrap;
}

table {
  margin-top: 10pt;
  margin-left: auto;
  margin-right: auto;

  button {
    padding: 2pt;
    border: none;
    width: 100%;
    height: 100%;
    background-color: $back-light;
    color: inherit;
  }
}

.esrWahl,
.zeile {
  display: flex;
}

.esrWahl button {
  padding: 2pt;
  width: 100%;
  border: none;

}

.blueback {
 // color: rgb(147, 147, 184);
 color:black;
  font-weight: bold;
  background-color: rgb(160, 160, 241);
}

@media print {
  * {
    font-size: 10pt;
    padding: 0pt;
  }

 table{margin:0pt;
margin-left:auto;
margin-right:auto;}
  .kuerzel {
    color: blue;
  }

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
}