* {
  font-size: 9pt;
}

//aus zuweisung kopiert, noch nicht benutzt:
$background:white;
$color:black;
$kuerzel: grey;
$back-light:rgb(228, 228, 228);

$rhybackground: rgb(255, 144, 133);
$epoBackground: rgb(207, 198, 98);
$schieneBackground: rgb(176, 219, 130);





.rhythmus {
  background-color: $rhybackground;
}

.epoche {
  background-color: $epoBackground;
}

.schiene {
  background-color: $schieneBackground;

}

#terminContainer {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  #ferienTermine,
  #pruefungsDaten,
  #termineListe {
    table {
      tr {
        td {
          text-align: center;

          button {
            width: 100%;
            margin: 0pt;
            padding: 0pt;
            background-color: pink;
          }
        }
      }

    }
  }



}

#printContain {
  // background-color:green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  table {
    margin: 5pt;

    tr {
      td {
        width:30pt;
        text-align: center;
        border: 1px black solid;
        overflow: hidden;
      }
    }

  }

}

.dataTabelle {
  td {
    border: 1px black solid;
  }
}

.terminHinzufügen {
  margin-left: 20%;
}

.iconBut {
  background: none;
  border: none;
}


.esrWahl,
.zeile {
  display: flex;
}

.esrWahl button {
  padding: 2pt;
  width: 100%;
  border: none;

}

.Monat {
  height: 10pt;
}

.Wochentag {
  font-size: 8pt;
}

.Datum {
  font-size: 6pt;
  width: 8pt;
}



#main {
  .abschnittContainer {

    .abschnitt {
      .tagesContainer {
        line-height: 1.1;

        .Monat {
          margin-bottom: 4pt;
          font-size: 11pt;

        }

        .Wochentag {
          font-size: 8pt;

        }

        .Datum {
          font-size: 8pt;

        }

        .buttonBox {
          div {

            //.rhy, epo etc
            button {
              background-color: lightsteelblue;
              border-radius: 5pt;
            }
          }

          .rhy button {
            background-color: $rhybackground;
          }

          .epo button {
            background-color: $epoBackground;
          }

          .sch button {
            background-color: $schieneBackground;
          }

        }
      }
    }
  }
}

//Ende ansicht ohne druck

//Tabelle: 




.abschnitt {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70pt;

  justify-content: center; //das centered echt!
}

.tagesContainer {
  width: 11pt;
}

.sonderBox {
  //Schrift bei ferientagen oder prüfungen
  font-size: 6pt;
  line-height: 6pt;
  height: 0pt;
  position: relative;
  top: -80pt;
  left: -45pt;
  transform: rotate(270deg);
  width: 90pt;
}

//So und Sa schmal und unsichtbar
.D0,
.D6 {
  width: 2pt;
  opacity: 0;
}


.D2,
.D3,
.D4,
.D5 {
  height: 40pt;
  // background-color:green;
}

.D1 .buttonBox {
  z-index: 1;
}

.abschnitt>.tagesContainer>div {
  text-align: center;
}

.abschnitt>.tagesContainer>div>div>button {
  padding: 0pt;
  width: 55pt;
  height: 50pt;

  div {
    overflow: hidden;
  }
}

//Button haben Tagesnotiz:
button.B0,
button.B2,
button.B3,
button.B4,
button.B5,
button.B6 {
  display: none;
  pointer-events: none;
}


// färbung prüfung datum hinterlegen
.pruefung {
  background-color: mediumorchid;
}

.ferien {
  background-color: steelblue;
}

//

.klein {
  font-size: 8pt;
}

.fahrt {
  font-style: italic;
}


.kuerzel {
  font-size: 11pt;

  span {
    font-size: inherit;
  }
}

.fach {
  font-size: 9pt;

  span {
    font-size: inherit;
  }
}

@media print {
  * {
    font-size: 10pt;
    padding: 0pt;
  }

  table {
    margin: 0pt;
    margin-left: auto;
    margin-right: auto;
  }

  .kuerzel {
    color: blue;
  }

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
}



.blueback {
  // color: rgb(147, 147, 184);
  color: black;
  font-weight: bold;
  background-color: rgb(160, 160, 241);
}
