

*{}
.toggli {
    width: 120pt;
    display: flex;
    flex-wrap: wrap;
  
    button {
      padding: 0pt;
      width: auto;
      height: auto;
      margin:1pt;
    }
  }

.ele{
  //  background-color:green;
  .zeile{
    width:260pt;
    //background-color:pink;
      margin-left:auto;
      margin-right:auto;

      line-height:20pt;
      display:grid;
      grid-template-columns: 60pt 60pt 140pt;

      .klasse{

      }
      .stunde{

      }
      button{
        width:auto;
        padding-left:6pt;
        padding-right:6pt;
        border-radius: 6pt;

      }
  }
}