<table>
    <tr>
        <th>Anrede</th><th>Name</th><th>Kuerzel</th><th>Fächer (Klassen)</th><th> Aufgaben</th>
    </tr>
  <tr *ngFor="let lehrer of this.lehrerServ.lehrer">
      <td>
          {{lehrer.anrede}}
      </td>
      <td>
          {{lehrer.name}}
      </td>
    <td>
      {{lehrer.kuerzel}}
    </td>
    <td>
      <ng-container *ngIf="lehrer.faecher!=null">
        <span *ngFor="let fach of lehrer.faecher">
          <ng-container *ngIf="klassenReturn(lehrer,fach).length>0">   
          {{fach}}(      {{ klassenReturn(lehrer,fach)}})
          </ng-container>
          
        </span>
      </ng-container>
    </td>
    <td>
        <ng-container *ngIf="lehrer.aufgaben">
            <span *ngFor="let aufgabe of lehrer.aufgaben">
                {{aufgabe}}
            </span>

        </ng-container>
    </td>
    <!--
    <td *ngFor="let element of klassenReturn(lehrer)">
     {{element.klasse}}({{element.fach}})
    </td>

  -->

  </tr>

</table>
