<button class="lehrerHinzufügen" triggers="click" [ngbTooltip]="Input" [autoClose]="false" placement="bottom"> Lehrer
  hinzufügen
</button>

<ng-template #Input>
  <div class="inputT">
    <div>Anrede: <input id="i1" type="text" #anrede> </div>
    <div>Name: <input id="i2" type="text" #name> </div>
    <div>Kuerzel: <input id="i3" type="text" #kuerzel> </div>
   <!-- <div>Faecher: <input id="i4" type="text" #faecher></div>
    <div> Aufgaben: <input id="i5" type="text" #aufgaben></div>
    <div>DeputatWunsch: <input id="i6" type="number" #deputat></div>-->
    <button (click)="lehrerAdd(anrede.value,name.value,kuerzel.value,faecher.value,aufgaben.value,deputat.value)">Lehrer
      hinzufügen</button>
  </div>

</ng-template>
<table *ngIf="klassenplan.lehrerListe$| async as lehrerListe">
  <tr>
    <th>Anrede</th>
    <th>Name</th>
    <th>Kuerzel</th>
    <th>Fächer (Klassen)</th>
    <th> Aufgaben</th>
    <th>Deputat (Ü korrekt/E/S/R falsch)</th>
  </tr>
  <tr *ngFor="let lehrer of lehrerListe">
    <td>
      {{lehrer.anrede}}
    </td>
    <td>
      <button triggers="click" [ngbTooltip]="Input2" [autoClose]="false" placement="bottom">{{lehrer.name}}</button>
    </td>
    <td>
      {{lehrer.kuerzel}}
    </td>
    <td><button triggers="click" [ngbTooltip]="FaecherListe" [autoClose]="true" placement="bottom">
        <ng-container *ngIf="lehrer.faecher!=null">
          <span *ngFor="let fach of lehrer.faecher">
            {{fach.slice(0,1).toUpperCase()+fach.slice(1,fach.length)}}
          </span>
        </ng-container>
      </button>
    </td>
    <td>
      <ng-container *ngIf="lehrer.aufgaben">
        <span *ngFor="let aufgabe of lehrer.aufgaben">
          {{aufgabe}}
        </span>
      </ng-container>
    </td>
    <td>
      {{deputat(lehrer)}}=
      <span style="font-weight:bold">
        {{deputat(lehrer)[0] + deputat(lehrer)[1] + deputat(lehrer)[2] + deputat(lehrer)[3]}}
      </span>
    </td>


    <ng-template #Input2>
      <div class="inputT">
        <div>Anrede: <input type="text" #anrede value="{{lehrer.anrede}}"> </div>
        <div>Name: <input type="text" #name value="{{lehrer.name}}"> </div>
        <div>Kuerzel: <input type="text" #kuerzel value="{{lehrer.kuerzel}}"> </div>
      <!-- <div>Faecher: <input type="text" #faecher value="{{lehrer.faecher}}"></div>
        <div> Aufgaben: <input type="text" #aufgaben value="{{lehrer.aufgaben}}"></div>
        <div>DeputatWunsch: <input type="number" #deputat value="{{lehrer.deputat}}"></div>--> 
        <button
          (click)="lehrerAdd(anrede.value,name.value,kuerzel.value,faecher.value,aufgaben.value,deputat.value)">Lehrer
          hinzufügen</button>
        <button (click)="lehrerLoeschen(kuerzel.value)">entfernen</button>
      </div>

    </ng-template>
    <ng-template #FaecherListe>

      <div *ngFor="let fach of faecher">
        <button (click)="fachLehrerAdd(fach,lehrer)">{{fach}}</button>
      </div>

    </ng-template>
  </tr>
</table>
