<button class="lehrerHinzufügen" triggers="click" [ngbTooltip]="Input" [autoClose]="false" placement="bottom"> Lehrer
  hinzufügen
</button>

<ng-template #Input>
  <div class="inputT">
    <div>Anrede: <input id="i1" type="text" #anrede> </div>
    <div>Name: <input id="i2" type="text" #name> </div>
    <div>Kuerzel: <input id="i3" type="text" #kuerzel> </div>
    <!-- <div>Faecher: <input id="i4" type="text" #faecher></div>
    <div> Aufgaben: <input id="i5" type="text" #aufgaben></div>
    <div>DeputatWunsch: <input id="i6" type="number" #deputat></div>-->
    <button (click)="lehrerAdd(anrede.value,name.value,kuerzel.value,faecher.value,aufgaben.value,deputat.value)">Lehrer
      hinzufügen</button>
  </div>

</ng-template>

<table *ngIf="klassenplan.lehrerListe$| async as lehrerListe">
  <tr>
    <th>Name</th>
    <th>Fächer (Klassen)</th>
    <th> Aufgaben</th>
    <th>Deputat falsch!</th>
  </tr>
  <tr *ngFor="let lehrer of lehrerListe">

    <td>

      <ng-container *ngIf="lehrer.anrede=='Herr'">
        <img src="../../../assets/icons/mann.png" width="20pt">
      </ng-container>
      <ng-container *ngIf="lehrer.anrede=='Frau'">
        <img src="../../../assets/icons/businesswoman.png" width="20pt">
      </ng-container>
      {{lehrer.name}} <span class="kuerzel">{{lehrer.kuerzel}}</span>
      <button triggers="click" [ngbTooltip]="Input2" [autoClose]="'outside'" placement="bottom" class="editButton">
        <img class="editImg" src="../../../assets/icons/editing.png">
      </button>
    </td>
    <td>
      <ng-container *ngIf="lehrer.faecher!=null">
        <span *ngFor="let fach of lehrer.faecher">
          {{fach.slice(0,1).toUpperCase()+fach.slice(1,fach.length)}}
        </span>
      </ng-container>
      <button triggers="click" [ngbTooltip]="FaecherListe" [autoClose]="true" placement="bottom"
        (click)="loeschen($event,lehrer)" class="editButton">
        <img class="editImg" src="../../../assets/icons/editing.png">
      </button>
    </td>
    <td>
      <ng-container *ngIf="lehrer.aufgaben">
        <span *ngFor="let aufgabe of lehrer.aufgaben">
          {{aufgabe}}
        </span>
      </ng-container>
    </td>
    <td>
      <ng-container *ngIf=" deputatServ.alleLehrer$|async as Deputat">
        <ng-container *ngFor="let plan of Deputat">
          <ng-container *ngIf="plan.kuerzel==lehrer.kuerzel">
            <span triggers="hover" placement="bottom" [ngbTooltip]="LehrerUEB"
              [autoClose]="true">{{plan.uebstunde}}</span> +
            <span triggers="hover" placement="bottom" [ngbTooltip]="LehrerRhy" [autoClose]="true"> {{plan.rhythmus}}
            </span>+
            <span triggers="hover" placement="bottom" [ngbTooltip]="LehrerEpo" [autoClose]="true"> {{plan.epoche}}
            </span>+
            <span triggers="hover" placement="bottom" [ngbTooltip]="LehrerSch" [autoClose]="true">
              {{plan.schiene}}</span> =
            <span style="font-weight:bold">
              {{plan.uebstunde + plan.rhythmus + plan.epoche + plan.schiene}}
            </span>

            <ng-template #LehrerUEB>
              <ng-container *ngFor="let unt of plan.zuweisungen.ueb" class="ueb">
                <ng-container *ngIf="unt.stunden>0">
                  {{unt.fach}} {{unt.klasse!==null?unt.klasse:"" }} : {{ unt.stunden}}
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-template #LehrerRhy>
              <ng-container *ngFor="let unt of plan.zuweisungen.rhy" class="rhy">
                <ng-container *ngIf="unt.stunden>0">
                  {{unt.fach}}{{unt.klasse!==null?unt.klasse:"" }} : {{ unt.stunden}}
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-template #LehrerEpo>
              <ng-container *ngFor="let unt of plan.zuweisungen.epo" class="epo">
                <ng-container *ngIf="unt.stunden>0">
                  {{unt.fach}} {{unt.klasse!==null?unt.klasse:"" }} : {{ unt.stunden}}
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-template #LehrerSch>
              <ng-container *ngFor="let unt of plan.zuweisungen.sch" class="sch">
                <ng-container *ngIf="unt.stunden>0">
                  {{unt.fach}} {{unt.klasse!==null?unt.klasse:"" }} : {{ unt.stunden}}
                </ng-container>
              </ng-container>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </td>


    <ng-template #Input2>
      <div class="inputT">
        <div>Anrede: <input type="text" #anrede value="{{lehrer.anrede}}"> </div>
        <div>Name: <input type="text" #name value="{{lehrer.name}}"> </div>
        <div>Kuerzel: <input type="text" #kuerzel value="{{lehrer.kuerzel}}"> </div>
        <!-- <div>Faecher: <input type="text" #faecher value="{{lehrer.faecher}}"></div>
        <div> Aufgaben: <input type="text" #aufgaben value="{{lehrer.aufgaben}}"></div>
        <div>DeputatWunsch: <input type="number" #deputat value="{{lehrer.deputat}}"></div>-->
        <button
          (click)="lehrerAdd(anrede.value,name.value,kuerzel.value,faecher.value,aufgaben.value,deputat.value)">Lehrer
          hinzufügen</button>
        <button (click)="lehrerLoeschen(kuerzel.value)">entfernen</button>
      </div>

    </ng-template>
    <ng-template #FaecherListe>
      <div class="faecherContainerBut">
        <button (click)="loeschenClick($event,lehrer)" class="delete"> Fächer löschen </button>
        <button *ngFor="let fach of faecher" (click)="fachLehrerAdd(fach,lehrer)">
          {{fach.slice(0,1).toUpperCase()+fach.slice(1,fach.length)}}</button>

      </div>
    </ng-template>
  </tr>
</table>
