

td,th{padding:4pt;
padding-left:10pt;
padding-right:10pt;}

span{
  padding-right:10pt;
}

tr{border-top:1pt black solid;}

table{



  color:rgb(166, 222, 224);
  background-color:rgb(78, 90, 128);








  
  

}