
.delete{background-color:lightcoral}
.editButton{
 border:none;
background-color:inherit;
}

.editImg{width:15pt;}


.lehrerHinzufügen{
  text-align:center;
  margin-left:20%;
}
td,th{padding:4pt;
padding-left:10pt;
padding-right:10pt;}

span{
  padding-right:10pt;
}

tr{}

tr:nth-child(2n){
  background-color:rgb(241, 238, 238);
}

table{
  color:black;
 // background-color:rgb(47, 54, 77); 
}
.faecherContainerBut{
  background-color:steelblue;
  padding:5pt;
  width:300pt;
  display:flex;
  flex-wrap:wrap;
  

    button{
      border-radius:5pt;
      margin:4pt;
      border:none;
      width:45%;
      overflow: hidden;
    
  }
}



@media print{
  table{color:black;
  background-color:white;}
}

.kuerzel{font-style: italic;}