


<app-start>

</app-start>

<button class="noprint" (click)="redirect('vertretung')">
    aktueller Plan (beta)
    </button> 
    <button class="noprint" (click)="redirect('gesamtplaene-ansicht')">
       Gesamtpläne
        </button>

<button class="noprint" (click)="redirect('einzelPlaene')">
    Lehrerpläne
</button> 

<button class="noprint" (click)="redirect('ESR-gesamtAnsicht-Component')">
Epochen
</button>


<button class="noprint" >
(Raumplan), Klassenplan ...
</button> 


<router-outlet>

</router-outlet>



