<div id="gesamt" class="{{this.epoPlan.layout}}">


  <h1>Vertretungsplan vom
    {{epoPlan.planDatum.getValue().getDate()}}.{{epoPlan.planDatum.getValue().getMonth()+1}}.{{epoPlan.planDatum.getValue().getFullYear()}}<span
      class="datum">Stand:
      {{epoPlan.datum.getDate()}}.{{epoPlan.datum.getMonth()+1}}.{{epoPlan.datum.getFullYear()}}</span>
  </h1>

  <div id="container">
    <ng-container *ngFor="let wochenTag of ['Montag','Dienstag','Mittwoch','Donnerstag','Freitag']">
      <div id="{{wochenTag.toLowerCase()}}">
        <h2> {{wochenTag}} </h2>
        <div class="zeil klein">
          <div class="klasStunde">Kl.|Std. </div>
          <div class="lehrerFehlt"> abwesend: </div>
          <div class="vertretungsLehrer">
            <span style="font-weight:bold">Vertretung</span>
          </div>
        </div>
        <div class="zeil" *ngFor="let v of wochentageschreiben(wochenTag)">
          <div class="klasStunde">{{v.klasse}}|
            {{v.stunde+1}}
          </div>
          <div class="lehrerFehlt"> <span style='font-style:italic;'> {{v.lehrerKuerz?v.lehrerKuerz :" "}}</span>
            |{{v.fach}} </div>
          <div class="vertretungsLehrer">
            <ng-container *ngIf="v.vertretung!=null">
              <span style="font-weight:bold">{{v.vertretung.lehrer[0]?v.vertretung.lehrer[0].kuerzel:"?"}}</span>
              |{{v.vertretung.fach}}
            </ng-container>
            <ng-container *ngIf="v.vertretungsLehrer!=null">
              <span style="font-weight:bold">{{v.vertretungsLehrer.kuerzel}}</span>
            </ng-container>
            <ng-container *ngIf="v.notiz!=null">
              <span>{{v.notiz}}</span>
            </ng-container>

          </div>
        </div>
      </div>
    </ng-container>


  </div>
</div>
