
* {
  padding: 0pt;
  margin: 0pt;
}

$color-text: black;
$color-background:rgb(32, 56, 73);
$color-background2:rgb(38, 67, 87);


$schriftfarbe:rgb(221, 200, 200);
$hintergrund:rgb(77, 74, 78);
//$linienDark:rgb(63, 63, 63);
$hover:rgb(98, 107, 146);
$hintergrund2:rgb(81, 78, 83);

//aus zuweisung kopiert, noch nicht benutzt:
$background:rgb(57, 61, 58);
$background2:rgb(52, 57, 52);
$color:rgb(153, 153, 134);
$back-light:rgb(68, 68, 68);

#gesamtuebersicht {
 
  color: $schriftfarbe;
}



#gesamt{
  padding-top:10pt;
   
  
  color:  $color-text;
}


* {

  line-height: 14pt;
}

h1 {
  margin-left: 150pt;
  text-align: center;

}

.datum {
  font-size: 12pt;
  float: right;
  font-weight: italic;
}


.zeil {
  display: flex;
  width: 100%;
}

.klein{font-size:10pt;}

.klasStunde {
  width: 20%;
}

.lehrerFehlt {
  width: 35%;
}

.vertretungsLehrer {
  width: 45%;
}




#container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#montag,
#dienstag,
#mittwoch,
#donnerstag,
#freitag {
  width: 30%;
  padding: 10pt;

}



#montag {
  border-right: 1pt solid $color-text;
}

#dienstag {
  border-right: 1pt solid $color-text;
  //border-top: 1pt solid black;
}

#mittwoch {
//  border-right: 1pt solid black;
  border-bottom: 1pt solid $color-text;
}

#donnerstag {
  border-top: 1pt solid $color-text;
  border-right: 1pt solid $color-text;
}

#freitag {

  border-right: 1pt solid $color-text;
  border-top: 1pt solid $color-text;
}



@media print{

  #gesamt{

    background-color: white;
    color:black;
  }
  #montag {
    border-right: 1pt solid black;
  }
  
  #dienstag {
    border-right: 1pt solid black;
    //border-top: 1pt solid black;
  }
  
  #mittwoch {
  //  border-right: 1pt solid black;
    border-bottom: 1pt solid black;
  }
  
  #donnerstag {
    border-top: 1pt solid black;
    border-right: 1pt solid black;
  }
  
  #freitag {
  
    border-right: 1pt solid black;
    border-top: 1pt solid black;
  }

}
