
h1,h2,h3{text-align: center;
    margin-top:10pt;
}

.block{margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom:2pt;
   

}



#Zeile{
    display:flex; 
    flex-wrap:wrap;
    flex-direction:row;
} 



.buttonEpoche{
    margin-top:0pt;
    line-height:8pt;
    padding:0pt;
    font-size:8pt;
    width: 530%;
    border-radius: 0pt;
    min-height:30pt;
    max-height: 30pt;
    border:0pt solid black;
    background-color:inherit;
  border-bottom: 1pt dotted black;

}
.klassenNummerButton{
    border-radius: 5pt;
    height: 31pt;
    border:0pt solid black;
    line-height: 31pt;
}
.monatsFach{
    height: 14pt;
}

.datumFach{
    font-size: 8pt;
    border-bottom:1pt solid black;
    font-family:'Courier New', Courier, monospace;
}
.datumFach .date{
    border-top: 1pt solid black;
    min-height: 8pt;
}
.datumFach .wochenTag{
    min-height: 9pt;
    font-size: 8pt;
}
.buttonContain, .datumFach.Mo{
    border-left: solid 1pt black;
}



.toggle-item-Container{font-size: 10pt;}

.tagesItem{
    font-family:Arial, Helvetica, sans-serif;
    margin:0pt;
    width: 12pt;
    height: 14pt;
    margin-bottom:100pt;
}

.rotationsEIMER{
    border-radius:0pt;
width:100%;
}
.rotierContainer{
    font-family:Arial, Helvetica, sans-serif;
     width:100%;
     font-size:10pt;
     line-height:15pt;
     padding-top:2pt;
    -ms-writing-mode: tb-rl; 
    writing-mode: vertical-rl; 
    height:110pt;
  /* transform:rotate(0deg);*/
}




.Herbstferien, .Weihnachtsferien, .Osterferien, .Sommerferien, .WE ,
.Pfingstmontag, .Pfingstferien ,.Himmelfahrt ,.Arbeit ,.Ostermontag ,.Karfreitag ,.Neujahr ,.Weihnachtstag ,.Reformationstag 
,.Einheit {
    background-color:rgb(70, 130, 180,0.8);
    width:15pt;
    text-align:center;

}

.schule {
    /*background-color: green;*/
}
.EM ,.Abi{
    background-color:rgba(240, 176, 57);
    border-radius: 2pt;

}

.no{
    background-color: red; /* sollte nicht passieren, sonst fehlt notiz-klassen-zuordnung*/
}




.tagesItem.first{
    width:15pt;
}

.leerraumDatumMonat{
    height:45pt;
}

.tagesItem.schablone{
   
    height:140pt;
    width:15pt;
}


.verschoben.Di,.verschoben.Mi, .verschoben.Do,.verschoben.Fr{
    position: relative;
    top:130pt;
    font-family:Arial, Helvetica, sans-serif;
   
}
.verschoben.Mo{
    position:relative;
 
   
}

.verschoben .rotierContainer{
    font-size:9pt;
    line-height:9pt;
    background-color:rgba(240, 176, 57);
    border-radius:5pt;
    padding-top:8pt;
    padding-bottom:5pt;
    height:88pt;
}
