<div id="gesamtuebersicht">


  <ng-container *ngIf="this.epoPlan.planDatum$|async as planDat">
  <h1>Vertretung
  {{planDat|date: 'd.M.Y'}}

            <!-- SONDEREVENT? FERIEN?-->
            <ng-container *ngIf="this.klassenplanServ.ferienListe$|async as ferien ">
              <ng-container *ngFor="let termin of ferien">
                <ng-container *ngIf="termin.ende&&termin.start.toDate().getTime()<planDat.getTime()&&termin.ende.toDate().getTime()>planDat.getTime()">
                  {{termin.titel}}
                </ng-container>
                <ng-container *ngIf="!termin.ende&&termin.start.toDate().getTime()==planDat.getTime()">
                  {{termin.titel}}
                </ng-container>
              </ng-container>
          
              </ng-container>
              <ng-container *ngIf="this.klassenplanServ.pruefungsListe$|async as pruef ">
                <ng-container *ngFor="let termin of pruef">
                  <ng-container *ngIf="termin.ende&&termin.start.toDate().getTime()<planDat.getTime()&&termin.ende.toDate().getTime()>planDat.getTime()">
                    {{termin.titel}}
                  </ng-container>
                  <ng-container *ngIf="!termin.ende&&termin.start.toDate().getTime()==planDat.getTime()">
                    {{termin.titel}}
                  </ng-container>
                </ng-container>
                </ng-container>
                <!---->
              </h1>

  <div id="main">
   
    <ng-container *ngIf="gesamtRaster$|async as gesRaster">
      <div class="wochenTagContainer" *ngFor="let wochenTag of ['montag','dienstag','mittwoch','donnerstag','freitag']">
        <div *ngIf="wochenTagauswahl.toLowerCase()===wochenTag||printAktiv">
          <h2>
            <button triggers="click" [autoClose]="true" [ngbTooltip]="WochenTage" placement="right">
              {{wochenTag.substring(1,0).toUpperCase()+wochenTag.slice(1,wochenTag.length)}}
            </button> 
          </h2>
          <ng-template #WochenTage>
            <div class="buttonreihe noprint wochentagButton">
              <button class="noprint" (click)="wochentagWahl('Montag')">Montag</button>
              <button class="noprint" (click)="wochentagWahl('Dienstag')">Dienstag</button>
              <button class="noprint" (click)="wochentagWahl('Mittwoch')">Mittwoch</button>
              <button class="noprint" (click)="wochentagWahl('Donnerstag')">Donnerstag</button>
              <button class="noprint" (click)="wochentagWahl('Freitag')"> Freitag</button>
            </div>
          </ng-template>

          <table>
            <tr>
              <th></th>
              <th *ngFor="let cel of gesRaster[wochenTag][0]; index as k">
                {{k+1}}
              </th>
            </tr>

            <tr *ngFor="let zeile of gesRaster[wochenTag], index as std">
              <th>
                {{std+1}}
              </th>
              <td *ngFor="let cell of zeile,index as r">

                <ng-container *ngIf="this.klassenplanServ.terminListe$|async as termine ">
                  <ng-container *ngFor="let termin of termine">
                    <ng-container *ngIf="termin.klasse==r+1">
                      <!--hier sind noch alle klassen betroffen mit Fahrten-->
                      
                        <ng-container
                          *ngIf="termin.ende&&(planDat.getTime()>=termin.start.toDate().getTime())&&(planDat.getTime()<=termin.ende.toDate().getTime())&&std===0">
                          <div style="width:30pt">
                            <div class="sonderBox">
                              {{termin.titel}}
                            </div>
                          </div>
                        </ng-container>
         
                    </ng-container>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="aktuelleEpo$ |async as Epoo">

                  <ng-container
                    *ngIf="(cell&&cell[0]&&cell[0][0]&&r>7&&r<12&&Epoo[zahlinKlasse(r+1)].rhy.length>0)||r<=7||r==12">
                    <!-- nur wenn aktuelle epoche definiert ist-->
                    <button triggers="click" [autoClose]="true" class="{{hintergrundd(cell)}}" [ngbTooltip]="Lehrer2"
                      placement="bottom" (click)="cellKlickk($event,std,r+1,Epoo[zahlinKlasse(r+1)],cell[0][0])">
                      <ng-container
                        *ngIf="cell&&cell[0]&&cell[0][0]&&cell[0][0]!=='StartUp'&&cell[0][0]!=='HU'&&cell[0][0]!='Schiene'||r<8; else ESR">
                        <ng-container *ngFor="let item of cell;index as i" class="fachItem">
                          <div class="fachItem"
                            *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]>0||!vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std][i]">
                            <div class="fach">
                              {{ item[0]}}
                            </div>
                            <div class="{{markedd(item[1])}} {{duplicatesss(item[1] ,zeile,item[0])}} kuerzl">
                              {{item[1] }}
                            </div>
                          </div>
                        </ng-container>

                      </ng-container>
                      <ng-template #ESR>
                        <ng-container *ngIf="cell&&cell[0]&&cell[0][0]">
                          <!--        {{fachinWort(cell[0][0])}}-->
                          <div class="fachItem" *ngFor="let ei of Epoo[zahlinKlasse(r+1)][fachinWort(cell[0][0])];index as Ind">
                            <ng-container
                              *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]>0||!vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std][Ind]">
                              <div class="fach">
                                {{ ei.fach?ei.fach:""}}
                              </div>
                              <ng-container *ngIf="cell[0][1]!=null">
                                <div
                                  class="{{markedd(ei.lehrerKuerz)}} {{duplicatesss(ei.lehrerKuerz,zeile,cell[0][0])}} kuerzl">
                                  {{ei.lehrerKuerz?ei.lehrerKuerz :""}}
                                </div>
                              </ng-container>
                            </ng-container>
                          </div>

                        </ng-container>

                      </ng-template>
                      <ng-container *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]">
                        <ng-container *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std].length>0">
                          <ng-container
                            *ngFor="let vertretung of vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]">
                            <div *ngFor="let v of vertretung;index as vertrI">

                              <div style="background-color:rgb(148, 97, 2);text-decoration: line-through;"
                                class="lehrerFehlt">
                                <span style='font-style:italic;'>
                                  {{v.lehrer?v.lehrer.kuerzel:" "}}</span>
                                {{v.fach}} </div>
                              <div style="background-color:rgb(139, 52, 1);" class="vertretungsLehrer">
                                <ng-container *ngIf="v.vertretung!==null">
                                  <span
                                    style="font-weight:bold">{{v.vertretung.lehrer[0]?v.vertretung.lehrer[0].kuerzel:"?"}}</span>
                                  {{v.vertretung.fach}}
                                </ng-container>
                                <ng-container *ngIf="v.vertretungsLehrer!==null">
                                  <span style="font-weight:bold">{{v.vertretungsLehrer.kuerzel}}</span>
                                </ng-container>
                                <ng-container *ngIf="v.notiz!=null">
                                  <span>{{v.notiz}}</span>
                                </ng-container>
                              </div>

                            </div>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                    </button>

                    <ng-template #Lehrer2>
                      <ng-container *ngIf="klassenplanServ.klassenArray$|async as klassArray">
                        {{r+1}}
                        <ng-container *ngFor="let elementt of klassArray[r+1]">
                          <ng-container *ngIf="elementt.zuweisung.uebstunde.length>0">
                            <div class="toggle-items" *ngIf="elementt!=undefined"
                              (click)="togglezellenClickk(std,elementt,cell,Epoo[zahlinKlasse(r+1)])">
                              <ng-container
                                *ngIf="elementt.fach!='HU'&&elementt.fach!='StartUp'&&elementt.fach!='Schiene'||elementt.klasse<9">
                                <ng-container *ngFor="let le of elementt.lehrer">
                                  {{le?le.kuerzel:"Lehrer"}}
                                </ng-container>
                              </ng-container>
                              (<span class="{{duplicateToggle(zeile,elementt)}}">
                                {{elementt?elementt.fach:"kein Fach"}}
                              </span>)

                            </div>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <ng-container *ngFor="let lehri of freieLehrer(std)">
                        <div class="toggle-items" (click)="freieLehrerClickk(lehri,cell)">
                          {{lehri.kuerzel}}
                        </div>
                      </ng-container>
                      <div class="toggle-items" (click)="freii(cell)">
                        frei
                      </div>
                      <div class="toggle-items" (click)="selbstaendigg(cell)">
                        Arbeitsauftrag
                      </div>


                    </ng-template>
                  </ng-container>
                </ng-container>


              </td>
            </tr>
          </table>
        </div>
      </div>
    </ng-container>
    <!--<app-einzelplaene class="noprint"></app-einzelplaene>
  -->

  </div>

</ng-container>

</div>
<div id="right" class="noprint">

  <button class="iconBut" (click)=" wocheNext() "><img width="60pt"
      src="../../../assets/iconsNav/pfeilSchwR.png" /></button>
</div>
<div id="left" class="noprint">

  <button class="iconBut" (click)=" wocheVorher() "><img style="transform: rotate(180deg);" width="60pt"
      src="../../../assets/iconsNav/pfeilSchwR.png" /></button>
</div>


<app-vertretungsplan></app-vertretungsplan>
