* {
  padding: 0pt;
  margin: 0pt;
}

$schriftfarbe:black; //rgb(221, 200, 200);
$hintergrund:rgb(77, 74, 78);
//$linienDark:rgb(63, 63, 63);
$hover:rgb(98, 107, 146);
$hintergrund2:rgb(81, 78, 83);

//aus zuweisung kopiert, noch nicht benutzt:
$background:rgb(57, 61, 58);
$background2:rgb(52, 57, 52);
$color:black; //rgb(153, 153, 134);
$back-light:rgb(68, 68, 68);

button:hover {
  background-image: repeating-linear-gradient(45deg,
      $hover 0%,
      rgb(59, 66, 97) 1%,
      $hover 2%);
}

th {
  font-weight: normal;
}

table {
  line-height:1;
  page-break-inside: auto;
  margin-right: auto;
  margin-left: auto;
  //border-collapse: collapse;
  border-collapse: collapse;

  tr {
    th {
      text-align: center;
    }
    td {
      border:1px black solid;
      height: 30pt;
      button {
        height: 100%;
        width: 100%;
        padding-left:4pt;
        padding-right:4pt;
        div {}
      }
    }
  }
}

.fachItem {
  display: flex;
}

.fachItem div {
  width: 100%;
}

h1,
h2 {
  text-align: center;
  margin-top: 0pt;
  padding-top: 10pt;
}

p {
  margin: 0pt;
}

button {
  border: solid 0pt black;
  color: black;
  background-image: inherit;
}

.error {
  color: red;
}

.ok {

}

.blueback {
  color: rgb(82, 82, 241);
}

.gruen {
  color: green;
}

.huB {
  background-color: rgb(207, 198, 98);
}

.schB {
  background-color: rgb(176, 219, 130);
}

.rhyB {
  background-color: rgb(255, 144, 133);
}

.normalB {
  background-color: rgb(227, 228, 227);
}

.empty {
  min-height: 20pt;
  opacity: 0.1;
}

.toggle-items {
  background-color: rgb(187, 236, 228);
  font-size: 12pt;
  line-height: 12t;
  width: auto;
}

.sonderEvent {
  position: relative;
  height: 0pt;
  top: 90pt;
}

.kippbox {
  padding-left: 5pt;
  background-color: green;
  font-size: 28pt;
  writing-mode: vertical-lr;
  // text-orientation: upright; 
  width: 28pt;
}

.wochentagButton {
  border-top: 1pt $schriftfarbe solid;
  button {
    width: 100%;
  }
}

.buttonreihe {
  display: flex;
  background-image: inherit;
}



// $colors : #fedc00, #fcb712, #f7921e, #e87f24, #dd6227, #dc4c27, #ca3435, #b82841, #953751, #364c88, #16599d, #02609e, #0073a9, #008aa4, #239a87, #7cba6d, #becc2f, #e0d81d;



@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  .fachItem {
    display: block;
    div{
      overflow: hidden;
      
    }
  }
  .kuerzl {
    display: block;
  }
  .fach {
    display:none;
    
  }
  th>span{display:none;} //Anzahl der stunden einer klasse
 .wochenTagContainer table{
 

   tr{
     td{
       button{
         width:20pt;
         overflow: hidden;
         padding:0pt;
       
       }
     }
   }

 }
}

@media only screen and (max-width: 460px),
(min-device-width: 468px) and (max-device-width: 624px) {
  table{
    border-collapse: collapse;
    width:90%;

  tr{
    td{
      border:1pt solid black;
      button{
        padding:0pt;
        width:100%;
        overflow: hidden;
      font-size:9pt;
      }
    }
  }
  }
}





@media print {

  #gesamtuebersicht {

    background-color: rgb(255, 255, 255);
    color: $schriftfarbe;
  }

  .wochentagButton {
    border-top: none;
  }

  .ok {

    border-radius: 4pt;
    color: blue;
  }

  .blueback {
    color: black;
  }


  .huB {
    background-color: rgb(224, 200, 137);
    color: black;
  }

  .schB {
    background-color: rgb(185, 214, 154);
    color: black;
  }

  .rhyB {
    background-color: rgb(231, 143, 135);
    color: black;
  }

  .normalB {
    background-color: white;
    color: black;
  }

  .huB,
  .schB,
  .rhyB,
  .normalB {
    border: none;
    //border:1px black solid;

  }

  .klassenspalte {
    margin: 1px;
  }




  //button:nth-of-type(odd){border-top:1pt black solid;}




}
