<div id="gesamtuebersicht" class="{{this.epoPlan.layout}}">
 

  <ng-container *ngIf="this.epoPlan.planDatum$|async as planDat">
    <h1>Vertretung
      {{planDat|date: 'd.M.Y'}}

      <!-- SONDEREVENT? FERIEN?-->
      <ng-container *ngIf="this.klassenplanServ.ferienListe$|async as ferien ">
        <ng-container *ngFor="let termin of ferien">
          <ng-container
            *ngIf="termin.ende&&termin.start.toDate().getTime()<planDat.getTime()&&termin.ende.toDate().getTime()>planDat.getTime()">
            {{termin.titel}}
          </ng-container>
          <ng-container *ngIf="!termin.ende&&termin.start.toDate().getTime()==planDat.getTime()">
            {{termin.titel}}
          </ng-container>
        </ng-container>

      </ng-container>
      <ng-container *ngIf="this.klassenplanServ.pruefungsListe$|async as pruef ">
        <ng-container *ngFor="let termin of pruef">
          <ng-container
            *ngIf="termin.ende&&termin.start.toDate().getTime()<planDat.getTime()&&termin.ende.toDate().getTime()>planDat.getTime()">
            {{termin.titel}}
          </ng-container>
          <ng-container *ngIf="!termin.ende&&termin.start.toDate().getTime()==planDat.getTime()">
            {{termin.titel}}
          </ng-container>
        </ng-container>
      </ng-container>
      <!---->
    </h1>

    <div id="main">

      <ng-container *ngIf="gesamtRaster$|async as gesRaster">
        <div class="wochenTagContainer"
          *ngFor="let wochenTag of ['montag','dienstag','mittwoch','donnerstag','freitag']">
          <div *ngIf="wochenTagauswahl.toLowerCase()===wochenTag||printAktiv">
            <h2>
              <button triggers="click" [autoClose]="true" [ngbTooltip]="WochenTage" placement="right">
                {{wochenTag.substring(1,0).toUpperCase()+wochenTag.slice(1,wochenTag.length)}}
              </button>
            </h2>
            <ng-template #WochenTage>
              <div class="buttonreihe noprint wochentagButton">
                <button class="noprint" (click)="wochentagWahl('Montag')">Montag</button>
                <button class="noprint" (click)="wochentagWahl('Dienstag')">Dienstag</button>
                <button class="noprint" (click)="wochentagWahl('Mittwoch')">Mittwoch</button>
                <button class="noprint" (click)="wochentagWahl('Donnerstag')">Donnerstag</button>
                <button class="noprint" (click)="wochentagWahl('Freitag')"> Freitag</button>
              </div>
            </ng-template>

            <table>
              <tr>
                <th></th>
                <th *ngFor="let cel of gesRaster[wochenTag][0]; index as k">
                  {{k+1}}
                </th>
              </tr>

              <tr *ngFor="let zeile of gesRaster[wochenTag], index as std">
                <th>
                  {{std+1}}
                </th>
                <td *ngFor="let cell of zeile,index as r" class="formatTd">

                  <ng-container *ngIf="this.klassenplanServ.terminListe$|async as termine ">

                    <ng-container *ngIf="fahrtInKlasse(termine,r+1,planDat.getTime())">
                      <!--hier sind noch alle klassen betroffen mit Fahrten-->

                      <ng-container *ngIf="std===0">
                        <div style="width:30pt">
                          <div class="sonderBox">
                            {{fahrtInKlasse(termine,r+1,planDat.getTime())}}
                          </div>
                        </div>
                      </ng-container>

                    </ng-container>




                    <ng-container
                      *ngIf="((r>7&&r<12)&&fahrtInKlasse(termine,r+1,planDat.getTime()).length==0)||r<=7||r==12">
                      {{fahrtInKlasse(termine,r+1,planDat.getTime())}}
                      <!-- nur wenn aktuelle epoche definiert ist-->
                      <button triggers="click" [autoClose]="'outside'" class="{{hintergrundd(cell)}}"
                        [ngbTooltip]="ButtonLehrer" placement="bottom" (click)="mainClick()">

                        <div class="fach">
                          <ng-container *ngFor="let item of cell;index as i" class="fachItem">

                            <ng-container
                              *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]>0||!vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std][i]">
                              <span>
                                <ng-container *ngIf="(i==0||(i>0&&item[0]!=cell[i-1][0]))">
                                  {{ item[0]}}
                                </ng-container>
                              </span>
                            </ng-container>
                          </ng-container>
                        </div>
                        <div class="kuerzl">
                          <ng-container *ngFor="let item of cell;index as i" class="fachItem">
                            <ng-container
                              *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]>0||!vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std][i]">

                              <span class="{{markedd(item[1])}} {{duplicatesss(item[1] ,zeile,item[0])}} kuerzl">
                                {{item[1] }}
                              </span>
                            </ng-container>
                          </ng-container>
                        </div>







                        <ng-container *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]">
                          <ng-container *ngIf="vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std].length>0">
                            <ng-container
                              *ngFor="let vertretung of vertretungsraster2[wochenTagauswahl.toLowerCase()][r][std]">
                              <div *ngFor="let v of vertretung;index as vertrI">

                                <div style="background-color:rgb(148, 97, 2);text-decoration: line-through;"
                                  class="lehrerFehlt">
                                  <span style='font-style:italic;'>
                                    {{v.lehrerKuerz?v.lehrerKuerz:" "}}</span>
                                  {{v.fach}} </div>
                                <div style="background-color:rgb(139, 52, 1);" class="vertretungsLehrer">
                                  <ng-container *ngIf="v.vertretung!==null">
                                    <span
                                      style="font-weight:bold">{{v.vertretung.lehrer[0]?v.vertretung.lehrer[0].kuerzel:"?"}}</span>
                                    {{v.vertretung.fach}}
                                  </ng-container>
                                  <ng-container *ngIf="v.vertretungsLehrer!==null">
                                    <span style="font-weight:bold">{{v.vertretungsLehrer.kuerzel}}</span>
                                  </ng-container>
                                  <ng-container *ngIf="v.notiz!=null">
                                    <span>{{v.notiz}}</span>
                                  </ng-container>
                                </div>

                              </div>
                            </ng-container>
                          </ng-container>
                        </ng-container>

                      </button>

                      <ng-template #ButtonLehrer>

                        <ng-container *ngFor="let item of cell;index as i">
                          <button triggers="click" [autoClose]="true" class="fachItem" [ngbTooltip]="Lehrer2"
                            placement="bottom" (click)="cellKlickk($event,std,r+1,item[0],item[1],item[2])">
                            <div class="fach">
                              {{ item[0]}}
                            </div>
                            <div class="{{markedd(item[1])}} {{duplicatesss(item[1] ,zeile,item[0])}} kuerzl">
                              {{item[1] }}
                            </div>
                          </button>
                        </ng-container>


                      </ng-template>



                      <ng-template #Lehrer2>

                        <ng-container *ngIf="klassenplanServ.klassenArray$|async as klassArray">
                          {{r+1}}
                          <ng-container *ngFor="let elementt of klassArray[r+1]">
                            <ng-container
                              *ngIf="elementt.fach!=='HU'&&elementt.fach!=='Schiene'&&elementt.fach!=='Rhythmus'">

                              <div class="toggle-items {{duplicateToggle(zeile,elementt)}}" *ngIf="elementt!=undefined"
                                (click)="togglezellenClickk(std,elementt,cell)">
                                <ng-container
                                  *ngIf="elementt.fach!='HU'&&elementt.fach!='StartUp'&&elementt.fach!='Schiene'||elementt.klasse<9">
                                  <ng-container *ngFor="let le of elementt.lehrer">
                                    {{le?le.kuerzel:"Lehrer"}}
                                  </ng-container>

                                </ng-container>
                                (<span class="">
                                  {{elementt?elementt.fach:"kein Fach"}}
                                </span>)

                              </div>

                            </ng-container>
                          </ng-container>

                          <ng-container *ngFor="let lehri of freieLehrer(std)">
                            <div class="toggle-items" (click)="freieLehrerClickk(lehri,cell)">
                              {{lehri.kuerzel}}
                            </div>
                          </ng-container>
                          <div class="toggle-items" (click)="freii(cell)">
                            frei
                          </div>
                          <div class="toggle-items" (click)="selbstaendigg(cell)">
                            Arbeitsauftrag
                          </div>

                        </ng-container>
                      </ng-template>
                    </ng-container>
                  </ng-container>


                </td>
              </tr>
            </table>
          </div>
        </div>
      </ng-container>
      <!--<app-einzelplaene class="noprint"></app-einzelplaene>
  -->

    </div>

  </ng-container>

</div>
<div id="right" class="noprint">

  <button class="iconBut" (click)=" wocheNext() "><img width="60pt"
      src="../../../assets/iconsNav/pfeilSchwR.png" /></button>
</div>
<div id="left" class="noprint">

  <button class="iconBut" (click)=" wocheVorher() "><img style="transform: rotate(180deg);" width="60pt"
      src="../../../assets/iconsNav/pfeilSchwR.png" /></button>
</div>


<app-vertretungsplan></app-vertretungsplan>
