
/* You can add global styles to this file, and also import other style files */


h1,h2{text-align:center}
.tooltip-inner{
  width:200pt;
  max-width:400pt;

}

.blueback {
  color: rgb(84, 97, 209);
  font-weight: bold;
  font-size: 16pt;
}


@media print {
  

  @page {
    margin:0pt;
    color:blue;
    size: landscape;

  }

  body{ height:100%; width:100%;  }
  h1{
    page-break-before: always;
  }

  .noprint{display:none; }
  .noprint div{display:none;}
  .noprint span{display:none;}
  .noprint button{display:none;}
  .tooltip-inner{display:none;}//popups , pfeil bleibt , ist glaubich after
  .huB{background-color:rgb(243, 246, 193);
  }
  .schB{background-color:rgb(231, 253, 205);}
  .rhyB{background-color: rgb(243, 193, 188);}
   .normalB{background-color:rgb(238, 238, 238);}
   .ferienNotiz,
.sonderNotiz {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 15pt;
  padding-top: 2pt;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  border-radius: 5pt;
  background-color: steelblue;
}

.tagesContainer {
  width: 15pt;
  pointer-events: none;
}

.tagesContainer.Mo {
  pointer-events: visible;
}


.true {
  background-color: steelblue;
}

.sonderNotiz {
  background-color: rgba(240, 176, 57);
}

.EM,
.Abi {
  background-color: rgba(240, 176, 57);

}
/*
  body app-root app-epoche  .tagesItem{
    width:20pt;
    padding:0pt;
  }
  body app-root app-epoche  .rotierContainer{
    color:green;
    width:20pt;
  }
  body app-root app-epoche button{
    width: 3pt;
  }
  body app-root app-epoche #kl8, #kl9, #kl10, #kl11, #kl12,#ho{
    flex-wrap: nowrap;
}
body app-root app-klassen-zuweisung .dropButton{
  font-size:8pt;
}

*{background-color:white;}
button, div{
  font-size:10pt;
}
*/
}
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
