/* You can add global styles to this file, and also import other style files */
$color-text: rgb(182, 205, 221);
$color-background:rgb(16, 71, 107);


*{
  //font-weight:bold;
}
h1,
h2 {
  text-align: center
}

.dark{color:lightgrey;
  color: white;
background-color:#1f242b;
}

.light{color:black;
background-color:white;}

.tooltip .arrow {
  display: none !important;
}

.tooltip-inner {
  color: black !important;
  padding: 0pt !important;
  background-color: rgb(187, 236, 228) !important;
}

.tooltip.show {
  opacity: 0.95 !important;
}

.blueback {
  color: rgb(84, 97, 209);
  font-weight: bold;
}


$hover:rgb(98, 107, 146);

button:hover {
  background-image: repeating-linear-gradient(45deg,
      $hover 0pt,
      rgb(59, 66, 97) 3pt,
      $hover 5pt);
}

@media print {

  @page {
    size: landscape;
  }


  h1 {
    page-break-before: always;
  }

  .noprint {
    display: none;

    button {
      display: none;

      img {
        display: none;
      }
    }
  }

  .tooltip-inner {
    display: none;
  }

  //popups , pfeil bleibt , ist glaubich after

}



html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
