$background:white;
$background2:white;
$color:black;
$back-light:rgb(228, 227, 227);

$rhybackground: rgb(255, 144, 133);
$epoBackground: rgb(207, 198, 98);
$schieneBackground: rgb(176, 219, 130);
$uebBackground:rgb(168, 168, 236);

$lila: rgb(149, 16, 121);


$schatten:black;


$schriftfarbe:black;

//$linienDark:rgb(63, 63, 63);
$hover:rgb(98, 107, 146);

th {
  font-weight: normal;
}

#alles {
  color: $schriftfarbe;
  width: 100%;
}






tr:nth-child(odd) {
  td {
    border-right: 1pt solid $background
  }
}

tr:nth-child(even) {
  background-color: $back-light;

  td {
    border-right: 1pt solid $background2;
  }
}




button {
  border: 1pt black solid;
  border-radius: 3pt;
}

.ueb {
  background-color: $uebBackground;
}

.rhy {
  background-color: $rhybackground;
}

.epo {
  background-color: $epoBackground;
}

.sch {
  background-color: $schieneBackground;
}

.nix {
  background-color: rgb(227, 228, 227);
}


.tdBox {
  display: flex;

  .esrButtonContainer {
    width: 40%;
    display: flex;

    button {
      width: 20%;
    }
  }

  .lehrerkuerzelBox {
    width: 60%;
    display: flex;

    div {
      button {
        div {
          width: 100%;
          display: flex;

          div {
            width:auto;
          }

          //alternativ: rhy, epo einzeln

        }
      }
    }
  }

  .esrPrintAktiv {
    width: auto;
    display: flex;

    button {
      width: auto;
    }
  }

  .lehrerkuerzelPrintAktiv {
    display: flex;
    width: auto;

    div {
      button {
        div {
          display: flex;

        }
      }
    }
  }
}


@media print {

  * {
    padding: 0pt;
    color: black;
    background-color: white;
  }
  

  button {
    border: none;
  }


  .ueb {
    // background-color:rgb(19, 64, 100);
    color: rgb(0, 113, 241);
  }

  .rhy {
    color: rgb(250, 17, 17);
  }

  .epo {
    color: rgb(255, 183, 0);
  }

  .sch {
    color: rgb(122, 240, 167);
  }

  .nix {
    display: none;
  }

  .ueb,
  .rhy,
  .epo,
  .sch {
    background-color: inherit;
  }
/* FÜR BREITBILD, dann aber im css und Gesamtplandruck kaputt

//Dies muss global sein:first-child
  body {
    background: none;
      writing-mode: tb-rl;
      height:100%; width:100%; 
  }
  //dies bleibt hier:
  tr {
    th {
   //   background-color: yellow;
      border:1pt black solid;
      overflow:visible;
     div{position: relative;
      left: -0pt;
      top: 10pt;
      width:0pt;
      height:10pt;
    }
      .tdBox { 
      //  background-color:orange;
        overflow: visible;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform-origin: 0 0;

      .esrPrintAktiv {
       //   background-color: red;
          display: flex;
          flex-direction: column-reverse;
          white-space: nowrap;
          overflow: visible;
          position: relative;
          left: 14pt;
          top:-15pt;
          height:12pt; //Breite der senkrechten esa-gesamt-zahl
        button {
          overflow: visible;
          width:25pt;
          padding-left:5pt;
         //height:20pt; //esa gesamt breite
        }
      }
      }
    }

    td {
      border: 1pt black solid;
      overflow: hidden;

      .tdBox {
       
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: visible;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform-origin: 0 0;

        .esrPrintAktiv {
  
          display: flex;
          flex-direction: column;
          position: relative;
          left: 0pt;
          top:-52pt;
          width:8pt;
          button {
            width: 8pt;
            line-height: 1em;
          }

        }

        .lehrerkuerzelPrintAktiv {
          text-align: left;
          line-height:1em;
          width:8pt;
          position: relative;
          left: 70pt;
          top:-12pt;
          display: flex;
          flex-direction: column;

          div {
            button {
              div {
                div {
                  line-height: 1em;
                  height: 90pt;
                }
              }
            }
          }
        }

      }
    }
  }

 
*/



}




th.links {

  color: $lila;
  font-weight: bold;

}
