$background:white;
$background2:white;
$color:black;
$back-light:rgb(228, 227, 227);

$rhybackground: rgb(255, 144, 133);
$epoBackground: rgb(207, 198, 98);
$schieneBackground: rgb(176, 219, 130);
$uebBackground:rgb(168, 168, 236);

$lila: rgb(149, 16, 121);


$schatten:black;


$schriftfarbe:black;

//$linienDark:rgb(63, 63, 63);
$hover:rgb(98, 107, 146);

$darkmodeTextColor:lightgrey;

.dark {

  color: $darkmodeTextColor;

  h1 {
    color: grey;
  }

  .centerContain {
    color: $darkmodeTextColor;

    button {
      color: $darkmodeTextColor;

    }

  }

  #tabell {
    font-weight: normal;
    color: $darkmodeTextColor;
    tr{
      td{
        font-weight: normal;
      }
      th{
        font-weight: normal;
        img{
          filter: invert(0.8);
        }
      }
    }
    // background-color:rgb(0, 0, 0)2, 85;
    tr:nth-child(2n-1) {
      color: $darkmodeTextColor;
      background-color: rgb(63, 63, 63)
    }

    tr:nth-child(2n) {
      color: $darkmodeTextColor;
      background-color: rgb(128, 128, 128);
    }
  }
}


#alles {
  color: $schriftfarbe;
  margin-left: auto;
  margin-right: auto;
}


#tabell {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(216, 213, 213);
  border-radius: 15pt;

  tr {
    th.links {
      padding: 3pt;

      img {
        width: 17pt;
        margin-right: 5pt;
      }
    }

    td {}
  }

  tr:nth-child(odd) {
    td {
      border-right: 1pt solid $background
    }
  }

  tr:nth-child(even) {
    background-color: $back-light;

    td {
      border-right: 1pt solid $background2;
    }
  }
}







.tdBox {
  display: flex;

  .esrButtonContainer {
    width: 100pt;
    display: flex;



    .ueb {
      background-color: $uebBackground;
    }

    .rhy {
      background-color: $rhybackground;
    }

    .epo {
      background-color: $epoBackground;
    }

    .sch {
      background-color: $schieneBackground;
    }

    .nix {
      opacity: 0.2;
      background-color: rgb(227, 228, 227);
    }



    button {
      border-radius: 16pt;

    }
  }

  .lehrerkuerzelBox {
    width: 220pt;
    display: flex;
    // background-color: green;

    div {
      button {
        
        border: none;
        border-top: 1px black solid;
        border-radius: 5pt;

        div {
          width: auto;
          display: flex;

          div {
            //Esr behälter bei lehrerkuerzlen
            width: auto;
          }

          :first-child {
            //Kuerzel
            width: auto;
            padding-right: 3pt;
          }

          :nth-child(2) {
            border-left: 1px black solid;
            width: auto;
            padding-left: 2pt;
          }

          :nth-child(3) {
            border-left: 1px black solid;
            width: auto;
            padding-left: 2pt;
          }

          :nth-child(4) {
            border-left: 1px black solid;
            width: auto;
            padding-left: 2pt;
          }

          //alternativ: rhy, epo einzeln

        }

      }
    }
  }

  .esrPrintAktiv {
    //wenn in voller Breite
    width: auto;
    display: flex;

    button {
      width: auto;
    }
  }

  .lehrerkuerzelPrintAktiv {
    //Wenn in voller breite, alle klassen
    display: flex;
    width: auto;

    div {
      button {
        div {
          display: flex;

        }
      }
    }
  }
}

.dark{
 
  .tdBox{
    .esrButtonContainer {
      width: 100pt;
      display: flex;
      .ueb {
       // background-color:inherit;
        color: $uebBackground;
      }
      .rhy {
      //  background-color:inherit;
        color: $rhybackground;
      }
      .epo {
      //  background-color:inherit;
        color: $epoBackground;
      }
  
      .sch {
      //  background-color:inherit;
        color: $schieneBackground;
      }  
      .nix {
       // background-color:inherit;
        opacity: 0.2;
        color: rgb(227, 228, 227);
      }
  
      button {margin:2pt;
        border-radius: 0pt;
        background-color:rgb(76, 84, 112);
  border:none;
      }
    }

    .lehrerkuerzelBox {
      width: 220pt;
      display: flex;
      color:$darkmodeTextColor;
      // background-color: green;
      div {
        color:$darkmodeTextColor;
        button {
          color:$darkmodeTextColor;
          border: none;
     //   border-top: 1px grey solid;
          border-radius: 0pt;
          background-color:inherit;
          div {
            color:$darkmodeTextColor;
            width: auto;
            display: flex;
            background-color:inherit;

            .ueb {
            //  background-color:inherit;
              color: $uebBackground;
            }
            .rhy {
          //    background-color:inherit;
              color: $rhybackground;
            }
            .epo {
            //  background-color:inherit;
              color: $epoBackground;
            }
            .sch {
           //   background-color:inherit;
              color: $schieneBackground;
            }
            .nix {
              background-color:inherit;
              opacity: 0.2;
              color: rgb(227, 228, 227);
            }
            div {
              //Esr behälter bei lehrerkuerzlen
              width: auto;
              font-weight: normal;
            }
            :first-child {
              font-weight: normal;
              //Kuerzel
              width: auto;
              padding-right: 3pt;
            }
            :nth-child(1) {
              font-weight: normal;
              border-left: 1px grey solid;
              width: auto;
              padding-left: 2pt;
            }
            :nth-child(2) {
              border-left: 1px grey solid;
              width: auto;
              padding-left: 2pt;
            }
            :nth-child(3) {
              border-left: 1px grey solid;
              width: auto;
              padding-left: 2pt;
            }
            :nth-child(4) {
              border-left: 1px grey solid;
              width: auto;
              padding-left: 2pt;
            }
  
            //alternativ: rhy, epo einzeln
  
          }
  
        }
      }
    }
  
  

  }
}

@media print {

  * {
    padding: 0pt;
    color: black;
    background-color: white;
  }


  button {
    border: none;
  }


  .ueb {
    // background-color:rgb(19, 64, 100);
    color: rgb(0, 113, 241);
  }

  .rhy {
    color: rgb(250, 17, 17);
  }

  .epo {
    color: rgb(255, 183, 0);
  }

  .sch {
    color: rgb(122, 240, 167);
  }

  .nix {
    display: none;
  }

  .ueb,
  .rhy,
  .epo,
  .sch {
    background-color: inherit;
  }

}





.centerContain {
  text-align: center;
}
