

.breit{width:100%;}

.dropButton{
    font-size:18pt;
    background-color:darkgray;
    padding:0pt;
    border-radius:5pt;
    width: 100%;
margin:0pt;
min-height:6pt;


}


#FachLehrerUebersicht-Tabelle{
    width:100%;
}

th{
    width: auto;
    text-align: center;
    font-size:18pt;
    margin:0pt;
}



#kuerzelPop{
    font-size:18pt;
    width:80pt;
    padding:2pt;
}

#aufteilungUeRES{
    display:flex;
}
#aufteilungUeRES button{
    width:100%;

}





